.webp{
	.homepage{
		background-image: url(../images/bg/homepage.webp);
	}

	.modal-menu{
		background-image: url(../images/bg/modal-menu.webp);
	}

	.inner{
		&-products{
			background-image: url(../images/bg/i_bg-1.webp);			
		}

		&-brakepads{
			background-image: url(../images/bg/i_bg-2.webp);			
		}

		&-newproducts{
			background-image: url(../images/bg/new-products.webp);			
		}
		&-testreports{
			background-image: url(../images/bg/test-reports.webp);
		}
		&-articles{
			background-image: url(../images/bg/did-you-know.webp);
		}
		&-contacts{
			background-image: url(../images/bg/contacts.webp);
		}
	}

	.inner-subproducts{
		.block-2{
			background: url(../images/bg/sport-oriented-formulas.webp) center top no-repeat;
		}
		.block-3{
			background: url(../images/bg/heavy-duty-formulas.webp) center top no-repeat;
		}


		// shoes and linings
		.block-4{
			background: url(../images/bg/brake-shoe-cars.webp) center top no-repeat;
		}
		.block-5{
			background: url(../images/bg/brake-shoe-trucks.webp) center top no-repeat;
		}
		.block-6{
			background: url(../images/bg/brake-linings.webp) center top no-repeat;
		}

		.block-8{
			background: url(../images/bg/standart-rotor.webp) center top no-repeat;
			min-height: 810px;
		}

		.block-9{
			background: url(../images/bg/drilled-rotor.webp) center top no-repeat;
			min-height: 800px;
		}
	}
}





.homepage,
.inner,
.modal-menu
{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


.homepage{
	background-image: url(../images/bg/homepage.jpg);
}

.modal-menu{
	background-image: url(../images/bg/modal-menu.jpg);
}


.inner{
	&-products{
		background-image: url(../images/bg/i_bg-1.jpg);
	}
	&-subproducts{
		.block-2{
			background: url(../images/bg/sport-oriented-formulas.png) center top no-repeat;
			min-height: 820px;
		}
		.block-3{
			background: url(../images/bg/heavy-duty-formulas.png) center top no-repeat;
			min-height: 655px;
		}

		// shoes and linings
		.block-4{
			background: url(../images/bg/brake-shoe-cars.png) center top no-repeat;
			min-height: 600px;
		}
		.block-5{
			background: url(../images/bg/brake-shoe-trucks.png) center top no-repeat;
			min-height: 670px;
		}
		.block-6{
			background: url(../images/bg/brake-linings.png) center top no-repeat;
			min-height: 630px;
		}

		.block-8{
			background: url(../images/bg/standart-rotor.png) center top no-repeat;
			min-height: 810px;
		}

		.block-9{
			background: url(../images/bg/drilled-rotor.png) center top no-repeat;
			min-height: 800px;
		}
	}
	&-brakepads{
		background-image: url(../images/bg/i_bg-2.jpg);			
	}
	&-shoes{
		background: #cad0d8;
	}
	&-discrotor{
		background-color: #dce2e9;
		background-image: url(../images/bg/i_bg-2.jpg);			
	}
	&-newproducts{
		background-image: url(../images/bg/new-products.jpg);			
	}

	&-testreports{
		background-color: #c4c4c4; 
		background-image: url(../images/bg/test-reports.jpg);		
	}

	&-articles{
		background-image: url(../images/bg/did-you-know.jpg);
		background-size: auto;
		background-position: center top;
		background-color: #cdd3db;
	}
	&-contacts{
		background-image: url(../images/bg/contacts.jpg);
	}
}