.webp{
	.homepage{
		background-image: url(../images/bg/homepage.webp);
	}

	.modal-menu{
		background-image: url(../images/bg/modal-menu.webp);
	}

	.inner{
		&-products{
			background-image: url(../images/bg/i_bg-1.webp);			
		}

		&-brakepads{
			background-image: url(../images/bg/i_bg-2.webp);			
		}
	}

	.inner-products{
		.block-2{
			background: url(../images/bg/sport-oriented-formulas.webp) center top no-repeat;
		}
		.block-3{
			background: url(../images/bg/heavy-duty-formulas.webp) center top no-repeat;
		}
	}
}





.homepage,
.inner,
.modal-menu
{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


.homepage{
	background-image: url(../images/bg/homepage.jpg);
}

.modal-menu{
	background-image: url(../images/bg/modal-menu.jpg);
}


.inner{
	&-products{
		background-image: url(../images/bg/i_bg-1.jpg);
		.block-2{
			background: url(../images/bg/sport-oriented-formulas.png) center top no-repeat;
			min-height: 820px;
		}
		.block-3{
			background: url(../images/bg/heavy-duty-formulas.png) center top no-repeat;
			min-height: 655px;
		}
	}
	&-brakepads{
		background-image: url(../images/bg/i_bg-2.jpg);			
	}
}