.webp{
	.homepage{
		background-image: url(../images/bg/homepage.webp);
	}
}


.homepage{
	background-image: url(../images/bg/homepage.webp);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}