/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label{margin:0;padding:0;border:0}
header, section, footer, aside, nav, article {display:block}
ul{list-style:none}
$color1:#000;
$color2:#fff;


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after,
	&:before{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
	}
}


html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%
}


body{
	@include font-size(1.4);
	font-display: swap;
	// height: 100vh;
}

html, body{
	height: 100%
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}



input::-moz-focus-inner{
	border: 0;
	padding: 0;
}

.main-grid{
	height: 100%;
	display: flex;
	flex-direction: column;
	.main{
		flex-grow: 1;
	}		
}


@supports (display:grid) {
	.main-grid{
		height: auto;
		min-height: 100vh;
		display: grid;
		grid-template-areas: "header"
							 "main"
							 "footer";
		grid-template-rows: auto 1fr auto;			
	}
}


.outerwrapper{
	-webkit-flex: 1;
	flex: 1;
}

/*** standart classes *****/
p{}
a{color:#020000}
h1{font-size:2.5rem}
h2{font-size:2.4rem}
h3{font-size:1.6rem}


// strong,
// .bold{
// 	font-weight: normal;
// }
// em, i, 
// .italic{
// 	font-style: normal;
// }

// strong em,
// em strong
// {
// 	font-weight: normal;
// }


.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.before{
	content: "";
	display: block;
	position: absolute;
}


.form-control {

}


.extra-toggle{
	background: none;
	border-radius: 50%;
	border: 1px solid $color2;
	cursor: pointer;
	margin-right: 6rem;
	height: 5rem;
	width: 5rem;
	transition: .3s;
	.icon-bar{
		background: $color2;
		border-radius: 4px;
		display: block;
		height: 2px;
		margin: 6px auto;
		width: 22px;
	}	
	&:hover{
		background-color: $color3;
		border-color: $color3;
	}
}


.btn{
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color .3s;
	&-purple{
		background-color: $color4;
		color: $color2;
		&:hover{
			background-color: $color5;
		}
	}
	&-callback{
		font-size: 1.6rem;
		height: 5rem;
		border-radius: 5rem;
		padding: 0 3rem;
		letter-spacing: .1rem
	}
}
/* =header
---------------------------*/
.header{
	padding-left: 5rem;
	padding-right: 3rem;
	padding-top: 1rem;
	font-family: 'OfficinaSerifBlackSCC';

	.navmenu{
		font-size: 2rem;
		margin-top: .4rem;
		letter-spacing: .25rem;
		a{
			color: $color1;
		}
		li{
			margin-right: 5.8rem;
			&:last-child{
				margin-right: 0;
			}			
		}
	}

	&__left{
		margin-top: 4rem;
		width: calc(50% - 320px);
		.navmenu{
			a{
				&:before{
					color: $color1;
					border-bottom: 3px solid $color3;
				}
			}
		}
	}
	&__center{
		// mt1r
		img{
			display: block;
		}
	}
	&__right{
		margin-top: 4rem;
		width: calc(50% - 320px);
		.navmenu{
			a{
				&:before{
					color: $color2;
					border-bottom: 3px solid $color4;
				}
			}
		}
	}
}

/* =/header
---------------------------*/

/* =main
---------------------------*/


.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}



/* Effect 11: text fill based on Lea Verou's animation http://dabblet.com/gist/6046779 */
.cl-effect-11-inv{
	a {
		color: $color4 !important;		
		position: relative;
		text-shadow: none;
		white-space: nowrap;
		&:hover{
			text-decoration: none;
		}
		&:before{
			max-width: 100%;
		}
	}
} 

.cl-effect-11-inv a::before {
	
	color: $color1;
	content: attr(data-hover);
	left: 0;
	overflow: hidden;
	position: absolute;
	transition: max-width 0.5s;
	will-change: auto; 
}

.cl-effect-11-inv a:hover::before,
.cl-effect-11-inv a:focus::before {
	max-width: 0;
}
