/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label{margin:0;padding:0;border:0}
header, section, footer, aside, nav, article {display:block}
ul{list-style:none}
$color1:#000;
$color2:#fff;


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after,
	&:before{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
	}
}


html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%
}


body{
	@include font-size(1.4);
	font-display: swap;
	font-family: 'Officina Serif Book C';
	// height: 100vh;
}

html, body{
	height: 100%
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}



input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


.d-grid{
	display: flex;
}

.main-grid{
	height: 100%;
	display: flex;
	flex-direction: column;
	.main{
		flex-grow: 1;
	}		
}


@supports (display:grid) {
	.d-grid{
		display: grid;
	}
	.main-grid{
		height: auto;
		min-height: 100vh;
		display: grid;
		grid-template-areas: "header"
							 "main"
							 "footer";
		grid-template-rows: auto 1fr auto;			
	}


	@media (min-width: 992px){
		.grid-lg-2{
			grid-template-columns: repeat(2, 1fr);
			grid-row-gap: 30px;
		}	
		.grid-lg-3{
			grid-template-columns: repeat(3, 1fr);
			grid-row-gap: 30px;
		}		
		.d-lg-grid{
			display: grid !important;
		}
	}
	@media (min-width: 1250px){
		.grid-xl-6{
			grid-template-columns: repeat(6, 1fr)
		}		
	}

}


.outerwrapper{
	-webkit-flex: 1;
	flex: 1;
}

/*** standart classes *****/
p{}
a{color:#020000; transition: .3s;}
h1{font-size:2.5rem}
h2{font-size:2.4rem}
h3{font-size:1.6rem}

th,
strong{
	font-weight: normal;
}

.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.before{
	content: "";
	display: block;
	position: absolute;
}


.extra-toggle-wrapper{
	margin-right: 6rem;
	.extra-title{
		display: none;
	}
	&:hover{
		.extra-toggle{
			background-color: $color3;
			border-color: $color3;			
		}
	}
}

.extra-toggle{
	background: none;
	border-radius: 50%;
	border: 1px solid $color2;
	cursor: pointer;
	flex-shrink: 0; 
	height: 5rem;
	width: 5rem;
	padding-left: 0;
	padding-right: 0;
	transition: .3s;
	.icon-bar{
		background: $color2;
		border-radius: 4px;
		display: block;
		height: 2px;
		margin: 6px auto;
		width: 22px;
	}	
	&:hover{

	}
}


.btn{
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color .3s;
	&-purple{
		background-color: $color4;
		color: $color2;
		&:hover{
			background-color: $color5;
		}
	}

	&-orange{
		background-color: $color3;
		color: $color2;
		&:hover{
			background-color: $color5;
		}
	}
	&-callback{
		font-size: 1.6rem;
		height: 5rem;
		border-radius: 5rem;
		letter-spacing: .1rem;
		width: 150px;
	}
	&-more{
		background-color: $color3;
		border: none;
		color: $color2;
		cursor: pointer;
		display: block;
		font-family: 'Officina Serif Black C';
		font-size: 2rem;
		padding: 3rem 0;
		text-align: center;
		width: 100%;
		transition: background-color .3s;
		span{
			position: relative;
			&:before{
				@extend .before;
				@include sprite($icon-arrow);
				left: -21px;
				top: 4px;
			}
		}
		&:hover{
			background-color: $color4;
		}
	}

	&-back{
		color: #9e9e9e;
		font-family: 'Officina Serif Black C';
		font-size: 2rem;
		$h: 4rem;
		border-radius: $h;
		height: $h;
		border: 2px solid;
		display: inline-flex;
		align-items: center;
		padding: 0 2rem 0 45px;
		position: relative;
		text-decoration: none !important;
		&:before{
			@extend .before;
			@include sprite($icon-arrow-back);
			left: 14px;
			top: 12px;
			transition: filter .3s;
		}
		&:hover{
			color: $color2 !important;
			background-color: $color4;
			border-color: $color4;
			text-decoration: none !important;
			&:before{
				filter: brightness(5);
			}
		}
	}
}
/* =header
---------------------------*/
.header{
	padding-left: 5rem;
	padding-right: 3rem;
	padding-top: 1rem;
	font-family: "Officina Serif Black SCC";

	.navmenu{
		font-size: 2rem;
		margin-top: .4rem;
		letter-spacing: .25rem;
		a{
			color: $color1;
		}
		li{
			margin-right: 5.8rem;
			&:last-child{
				margin-right: 0;
			}			
		}
	}

	&__left{
		margin-top: 4rem;
		width: calc(50% - 350px);
		.navmenu{
			a{
				&:before{
					color: $color1;
					border-bottom: 3px solid $color3;
				}
			}
		}
	}
	&__center{
		// mt1r
		img{
			display: block;
		}
	}
	&__right{
		margin-top: 4rem;
		width: calc(50% - 320px);
		.navmenu{
			a{
				&:before{
					color: $color2;
					border-bottom: 3px solid $color4;
				}
			}
		}
	}
}

/* =/header
---------------------------*/

/* =main
---------------------------*/


.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}



/* Effect 11: text fill based on Lea Verou's animation http://dabblet.com/gist/6046779 */
.cl-effect-11,
.cl-effect-11-inv{
	a {
		position: relative;
		text-shadow: none;
		white-space: nowrap;
		&:hover{
			text-decoration: none;
		}
		&:before{
			max-width: 100%;
		}
	}
} 

.cl-effect-11-inv{
	a{
		color: $color4 !important;		
		
	}
}



.cl-effect-11-inv a::before {	
	color: $color1;
	content: attr(data-hover);
	left: 0;
	overflow: hidden;
	position: absolute;
	transition: max-width 0.5s;
	will-change: auto; 
}



.cl-effect-11,
.cl-effect-11-inv{
	a{
		&:focus,
		&:hover{
			&:before {
				max-width: 0;
			}
		}
	}
}

.close-modal,
.close-menu{
	cursor: pointer;
	background: none !important;
	border: none;
	svg{
		@include transition-param(transform)
	}
	line{
		stroke:#fff;
		stroke-width:5
	}
	&:hover{
		svg{
			@include rotation(90deg)
		}
	}	
}


.close-modal{
	position: absolute;
	right: 15px;
	top: 20px;
	z-index: 99;
}




.footer{
	padding-bottom: 3.5rem;
	.container{
		max-width: 1920px !important; 
		padding-left: 5px;
		padding-right: 5px;
	}

	.copyright{
		color: $color2;
		font-size: 1.5rem;
		padding-left: 5rem;
		&-gray{
			color: $color8;
		}
	}

	.lang{
		align-items: center;
		display: flex;
		font-size: 1.5rem;
		margin-right: 4rem;
		a, span{
			color: $color2;
			margin: 0 .1rem;			
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
		a{
			&:hover{
				color: $color4;
				text-decoration: none;
			}
		}
		.current{
			border-radius: 3rem;
			border: 1px solid $color2;
			color: $color2;
			cursor: default;
			padding-bottom: .5rem;
			padding-top: .5rem;
			text-align: center;
		}
	}

	&-gray2{
		.copyright,
		.lang a,
		.lang .current{
			color: #6a6a6a;
			border-color: #6a6a6a
		}
	}

	&-lgray{
		.copyright,
		.lang a,
		.lang .current{
			color: #aaa9a9;
			border-color: #aaa9a9
		}
	}
}



.icon-balloon,
.icon-balloon2,
.icon-balloon3,
.icon-tel,
.icon-tel2,
.icon-tel3,
.icon-mail,
.icon-mail2
{
	display: flex;
	align-items: center;
	position: relative;
	min-height: 90px;
	&:before{
		@extend .before;
		left: 0;
		top: 0;
	}
}

.icon-balloon,
.icon-balloon2{
	padding-left: 104px;
	&:before{
		@include sprite($icon-balloon);
	}
}

.icon-balloon2{
	&:before{
		@include sprite($icon-balloon2);
	}
}

.icon-balloon3{
	padding-left: 40px;
	min-height: 40px;
	&:before{
		@include sprite($icon-balloon3);
	}
}

.icon-tel,
.icon-tel2{
	padding-left: 93px;
	&:before{
		@include sprite($icon-tel);
	}
}
.icon-tel2{
	&:before{
		@include sprite($icon-tel2);
	}
}


.icon-mail,
.icon-mail2{
	padding-left: 112px;	
	&:before{
		@include sprite($icon-mail);
	}
}

.icon-mail2{
	&:before{
		@include sprite($icon-mail2);
	}
}


.icon-tel3{
	min-height: 40px;
	padding-left: 40px;
	&:before{
		@include sprite($icon-tel3);
		left: 4px;
	}
}



.modal-backdrop.show{
	background-color: rgba(242, 103, 34, .98);
	opacity: 1;
}



@media (min-width: 992px) {
	.revealator-once {
		opacity: 0;
	}

	// .overflow {
	// 	overflow: hidden;
	// }

	.loaded {
		.main-pic {

			&.partially-below,
			&.revealator-within {
				transform: none;
				transition-delay: unset !important;
				transition: none !important
			}
		}
	}
}