.catalog-page{
	// =menu
	.menu{
		font-family: "Officina Serif Black C";
		font-size: 7rem;
		text-transform: uppercase;
		a{
			color: $color4;
			text-decoration: underline;
			&:hover{
				color: $color16;
			}
		}

		ul{
			display: flex;
			justify-content: center;
			li{
				margin: 0 2.7rem;
				&.active{
					a, span{
						cursor: default;
						color: $color3;
						text-decoration: none;
						&:hover{
							text-decoration: none;
						}
					}
				}
			}
		}
	}
	// =/menu


	.tabs{
		margin-top: 3rem;
		margin-bottom: 8px;
		padding: 0 1.7rem;
		position: relative;
		&:before{
			bottom: -40px;
			height: 40px;
			left: 0;
			top: auto;
		}

		.selectize-control.single .selectize-input:after, .ms-choice div:after{
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAJCAYAAADU6McMAAAAzklEQVQokZXRu05CQRSF4c+DHTRWROxseABuj2CrlGpvZ2IBgYaKxkDBA9DitfBW2lv5HDR2VhaakEnmmJMTILDK2bP/rH9m5/vicIBTnOPT5mljgl6COap4QXMLwC0O8BUgU3RQwesGoBPMkESD9yQOxqEWynhCbQ3gBoUIuBdpaa4zjd7QWqJwFwHh/R7TQZK7GBp1sY9nNOL5cUYhAB6yS4V+fS9f+QM/cfEIxfgLocFZtkGa3RXuQe0PIwzxuwqwDpKqlXCFy7zCf7AAbK4ka4fqFc0AAAAASUVORK5CYII=');
		}		
	}
	.tab-pane{
		padding-top: 2.3rem;
		.input-field{
			margin-left: 2rem;
			margin-top: 0;
			margin-right: 4rem;
			label{
				font-size: 1.7rem;
				&.helper-field{
					left: 3px;
					top: 0px;	
				}
			}
		}
		.form-control{
			border: none;
			border-bottom: 2px solid #7e8083;
			height: 40px;
			width: 250px;
		}

		.btn{
			margin-top: .8rem;
			height: 5rem;
			width: 8rem;
			font-size: 1.7rem;
			font-family: "Officina Serif Black C";
			border-radius: 8rem;
			&:hover{
				background-color: $color3;
			}
		}
	}


	.nav{
		border: 2px solid #c3c3c3;
		height: 6rem;
		border-radius: 6rem;		
		font-family: "Officina Serif Black C";
		$color: #d2d5d6;
		list-style: none;
		// padding-top: 1.3rem;
		font-size: 3rem;

		&-item{
			margin-bottom: 0;
			padding-left: 0;
			height: 5.6rem;
			&:before{
				display: none;
			}
		}
		&-link{
			color: $color17;
			padding: .7rem 3.5rem;
			text-decoration: none;
			transition: color .3s;
			&:hover{
				color: $color4;	
			}
			&.active{
				background-color: $color3;
				border-radius: 6rem;
				color: $color2;
				position: relative;
				top: -2px;
			}
		}
	}




	#brand_tab,
	#class_tab,
	#model_tab
	{
		width: 18rem;
	}

	#year_tab{
		width: 8rem;
	}

	#engine_tab{
		width: 11rem;
	}	

	#body_tab{
		width: 16rem;
	}	

	.optional{
		font-size: 1.2rem;
		color: #7f7f7f;
		text-transform: none;
	}



	.search{
		&-result{
			margin-top: 3rem;
			&-top{
				align-items: center;
				margin-top: -3rem;
				padding-bottom: 1rem;
				.btn{
					background: none;
					color: $color1;
					text-decoration: none;
					width: 310px;
					flex-shrink: 0;
					letter-spacing: 0.05em;
					span{
						color: $color6;
						margin-left: .5rem;
						text-transform: uppercase;
					}
					&:hover{
						background: $color6;
						color: $color2;
						span{
							color: inherit;
						}
					}
				}
				.search-title{
					flex-grow: 1;

				}
			}
			&-table{
				background: $color2;
				margin-top: 1rem;
				box-shadow: 0 0 20px rgba(0,0,0,.15);
				font-size: 1.5rem;
				width: 100%;
				color: #414141;
				th{
					font-size: 1.7rem;
					font-family: "Officina Serif Black C";
					padding: 3.5rem 3.5rem 3rem 3rem;
					text-transform: uppercase;
					vertical-align: middle;
					white-space: nowrap;
					border-bottom: 2px solid $color3;
					img{
						vertical-align: bottom;
					}
				}
				tr{
					&:nth-child(even){
						td{
							// background: #f0f0f0;
						}
					}
				}

				tr{
					td{
						border-bottom: 1px solid #d2d5d6;
						padding: 1rem 0 1rem 2.8rem;
						a{
							color: $color3;
							display: block;
							margin: 1rem 0;
							text-decoration: underline;
							&:hover{
								text-decoration: none;
							}
						}

						h3{
							color: #fff;
						}
					}
					&.model-title{
						td{
							font-size: 1.7rem;
							background: $color4 !important;
							padding: 1.5rem 3rem;
							
						}
					}					
				}

				h3{
					font-family: "Officina Serif Book C";
					font-size: 1.7rem;
					font-weight: normal;
				}

			}
		}
		&-title{
			font-size: 4rem;
			text-align: center;
			font-family: "Officina Serif Black C";
			text-transform: uppercase;
		}
	}
}


/*
.inner .main .detail{
	background: $color2;
	padding: 3rem 4rem;

	&__specification{
		padding-bottom: 3rem;
	}

	&__gallery{
		flex-shrink: 0;
		margin-right: 3rem;
		width: 235px;

		.fotorama__nav-wrap{
			margin-top: 2rem;
		}

	}
	&__characteristics{
		flex-grow: 1;
	}

	&__plate{
		margin-bottom: 1rem;
	}
	&__head{
		background: #f0f0f0;
		padding: .8rem 1.8rem;
		align-items: center;
		p{
			font-size: 1.4rem;
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}
		a{
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		.box-title{
			color: $color1;
			font-size: 2rem;
			font-weight: 700;
			margin-right: 2rem !important;
		}
	}
	

	&__body{
		font-size: 1.4rem;
		.column{
			flex-grow: 1;
			padding-left: 1.8rem;
			padding-right: 1.8rem;
			.str{
				display: flex;
				justify-content: space-between;
				margin-top: 1.5rem;
			}
			.param{
				&-title{
					padding-right: 7rem;
				}
			}
		}
	}
}


.inner .catalog-page .table-grid{
	margin-top: 3rem;
	.model-title{
		cursor: pointer;
		background: #232323 !important;
		padding-bottom: .3rem;		
		padding-left: 6rem;
		padding-top: .3rem;
		position: relative;
		border-bottom: 1px solid #fff;
		transition: background-color .3s;
		&:before{
			@extend .before;
			background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAJCAMAAADjNjc+AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAclBMVEX/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf/MDf///+9+OMEAAAAJHRSTlMAgPFfdPtWd+F79flVdec1UPfmN1L65TNR6DZXZP1Fftg04lqpaN6sAAAAAWJLR0QlwwHJDwAAAAd0SU1FB+IMCQ8KK3Kv5FUAAABcSURBVAjXY2CAAEYmZgYUwKKiwsqGLMCuwsHJxc2DEOBV4eNnEBBEqGJRERIGUiLcomwwLWLiYIaEoCgPRIWkFFSxhCCrNAODjIqYFNxAEW5ZOQZ5BUUkS0WUlAEZKASFjhqtgwAAAABJRU5ErkJggg==") no-repeat left top;
			height: 9px;
			left: 30px;
			margin-top: -5px;
			position: absolute;
			top: 50%;
			transition: transform .3s;
			width: 17px;
			transition: filter .3s;
		}
		&:hover{
			background-color: $color6 !important;
			&:before{
				filter: grayscale(1) brightness(3);				
			}
		}
		h3{
			color: $color2 !important;
			font-size: 1.7rem !important;
		}
		&.arrow-down{
			&:before{ 
				transform: rotate(180deg);
			}
		}
	}

	.search-result-table{
		margin-top: 0;
		margin-bottom: 0;
		tr th{
			border-bottom-width: 2px;
		}
	}

	.th,
	.td{
		&Year{width: 9%;}
		&EngineVol{width: 7.5%;}
		&EngineNo{width: 7.5%;}
		&Body{width: 10%;}
		&Parts{width: 8%;}
	}
}


// modal feedback
#modal-feedback{
	.title-model{
		display: block;
	}
	.modal-dialog{
		max-width: 740px;
	}
	.form-wrapper{
		padding-top: 7rem;
		padding-bottom: 7rem;
	}

	.subject{
		margin-top: 4rem;
		p{
			font-size: 1.7rem;
			margin-bottom: 1rem;
		}
	}

	.radio {
	  position: absolute;
	  z-index: -1;
	  opacity: 0;
	  margin: 10px 0 0 7px;
	}
	.radio + label {
	  cursor: pointer;
	  margin-bottom: 1rem;
	  margin-right: 1.5rem;
	  padding: 0 0 0 30px;
	  position: relative;
	}
	.radio + label:before {
	  background: #FFF;
	  border-radius: 50%;
	  border: 3px solid #bcc0c1;
	  content: '';
	  height: 20px;
	  left: 0;
	  position: absolute;
	  top: 0px;
	  width: 20px;
	}
	.radio + label:after {
	  background: $color2;
	  border-radius: 50%;
	  content: '';
	  height: 6px;
	  left: 7px;
	  position: absolute;
	  top: 7px;
	  transition: .2s;
	  width: 6px;
	}
	.radio:checked + label:before {
		background: $color6;
		border-color: $color6;
	}

	.radio:checked + label:after {
	  opacity: 1;
	}
}

*/