.inner-certificats{
	.main .content .maintext{
		h1{
			text-align: center;
			font-size: 8rem;
		}
		.subtitle{
			color: #505050;
			font-size: 2.4rem;
		}
		.title{
			font-size: 3.5rem;
			font-family: "Officina Serif Black C";
			color: $color1;
			margin-bottom: 2rem;
		}

		@media (max-width: 1600px){
			h1{
				font-size: 6rem;
			}
			.subtitle{
				font-size: 2.2rem;
			}
		}

		@media (max-width: 991px){
			h1{
				font-size: 5rem;
			}
			.subtitle{
				font-size: 2rem;
			}
		}

		@media (max-width: 767px){
			h1{
				font-size: 4rem;
			}
			.subtitle{
				font-size: 1.8rem;
			}
		}

		@media (max-width: 450px){
			.title{
				text-align: center;
			}
		}
	}

	@media (max-width: 560px){
		.content{
			.row > div{
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}

#sertificats-carousel{
	margin-left: 14rem;
	margin-right: 14rem;
	@media (max-width: 1800px){
		margin-left: 0;
		margin-right: 0;
	}
}