$color1: #000;
$color2: #fff;
$color3: #f26722;
$color4: #713a97;
$color5: #311941;
$color6: #030303;
$color7: #e25c1c;
$color8: #4d4949;
$color9: #3a3a3a;
$color10: #3f085f;
$color11: #e54325;
$color12: #4b4b4b;
$color13: #4a4a4a;