.content{
	.maintext{
		$color_1: #f26722;
		font-family: "Officina Serif Book C";
		font-size: 2rem;
		color: #2a2a2a;
		margin-top: 2.2rem;
		h1, h2, h3, h4, h5, h6{
			font-family: "Officina Serif Black C";
			color: $color_1 !important;
			font-weight: normal;
			margin-bottom: 3.5rem;
		}
		h1{
			font-size: 5rem;
			text-transform: uppercase;
		}
		h2{font-size: 4.5rem;}
		h3{font-size: 4rem;}
		h4{font-size: 3.5rem;}
		h5{font-size: 3rem;}
		h6{font-size: 2rem;}

		strong{
			font-family: "Officina Serif Black C";
			font-weight: normal;
		}

		a{
			text-decoration: underline;
			&:hover{
				color: $color_1;
				text-decoration: none;
			}
		}

		// ul
		ul{
			margin: 1.5rem 0;
			li{
				padding-left: 35px;
				position: relative;
				margin: 10px 0;
				&:before{
					@extend .before;
					background-color: $color_1;
					border-radius: 50%;
					width: 12px;
					height: 12px;			
					left: 0;
					top: 8px;		
				}				
			}
		}

		// ol
		ol{
			counter-reset:li;
			margin-left: 0;
			list-style: none;
			& > li{
				position: relative;
				padding-left: 30px;
				margin: 15px 0;
				&:before{
					font-family: "Officina Serif Black C";
					color: $color_1;
					$s: 3.1rem;
					border-radius: $s;
					content: counter(li) ")";; /* В качестве данных используем счетчик */
					counter-increment:li; /* Увеличиваем значение счетчика на 1 */
					/* Позиционируем и стилизируем цифры */
					position:absolute;
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
					top:0px;
					left:0;
					font-size: 20px;
					font-weight: 900;
				}

				ol{
					list-style-type: lower-alpha;
					// counter-reset:li;
					margin-left: 18px;
					li{
						padding-left: 10px;
						// color: $color_1;
						&:before{
							display: none;
						}
					}
				}

			}
		}


		// blockquote
		blockquote{
			margin-bottom: 4rem;
			&:after{
				bottom: -10px;
				transform: skewY(-.45deg);
				transform-origin: 0 0
			}			
		}

		// table
		div.table-responsive{
			overflow-x: auto;
		}
		table{
			background-color: #fff;
			tr{
				.th,
				th{
					border-bottom: 3px solid  $color_1;
					color: #000;
					font-family: "Officina Serif Black C";
					font-size: 2rem;
					font-weight: normal;
					line-height: 1.2;
					padding: 2rem 3rem;
					vertical-align: middle;
				}
				td{
					border-bottom: 1px solid #dbdbdb;
					color: #373737;
					font-size: 1.7rem;
					padding: 1.2rem 3rem;
					vertical-align: middle;
					strong{
						color: $color1;
					}
				}
				&:last-child td{
					border-bottom: none;
				}
			}
		}

		.table-shadow{
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
		}

		.table-responsive{

		}

		img{
			max-width: 100%;
			height: auto;
		}



		@media (max-width: 1600px){
			h1{
				font-size: 4.6rem;
			}
			h2{font-size: 4.2rem;}
			h3{font-size: 3.8rem;}
			h4{font-size: 3.2rem;}
		}

		@media (max-width: 1200px){
			h1{
				font-size: 4.4rem;
			}
			h2{font-size: 4rem;}
			h3{font-size: 3.6rem;}
			h4{font-size: 3rem;}
		}
		@media (max-width: 991px){
			font-size: 1.8rem;
			h1{
				font-size: 4.2rem;
			}
			h2{font-size: 3.8rem;}
			h3{font-size: 3.5rem;}
			h4{font-size: 2.8rem;}

			img{
				float: none !important;
				margin-left: auto;
				margin-right: auto;
			}
		}
		@media (max-width: 560px){
			blockquote{
				padding-left: 2.6rem;
				text-align: center;
			}
		}
	}
}

.inner-news .side-panel{
	margin-top: 3.2rem;
}

.justifyleft {text-align:left !important; }
.justifyright {text-align:right !important; }
.justifycenter {text-align: center !important; }
.justifyfull {text-align:justify !important; }

img.justifyleft, table.justifyleft {float:left; margin-right:20px;margin-bottom:5px;margin-top: 15px;}
img.justifyright, table.justifyright {float:right; margin-left:20px;margin-bottom:5px;}
img.justifycenter, table.justifycenter { display: block; margin-left: auto; margin-right: auto;}