@font-face {
	font-family: 'Officina Serif Black SCC';
	src: url('../fonts/OfficinaSerifBlackSCC/officinaserifblackscc.woff2') format('woff2'),
	     url('../fonts/OfficinaSerifBlackSCC/officinaserifblackscc.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

// default
@font-face {
    font-family: 'Officina Serif Book C';
    src: url('../fonts/OfficinaSerifBookC/officinaserifbookc.woff2') format('woff2'),
         url('../fonts/OfficinaSerifBookC/officinaserifbookc.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Officina Serif Black C';
    src: url('../fonts/OfficinaSerifBlackC/officinaserifblackc.woff2') format('woff2'),
         url('../fonts/OfficinaSerifBlackC/officinaserifblackc.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'bender';
    src: url('../fonts/Bender/bender.woff2') format('woff2'),
         url('../fonts/Bender/bender.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}