@font-face {
    font-family: 'OfficinaSerifBlackSCC';
    src: url('../fonts/OfficinaSerifBlackSCC/officinaserifblackscc.woff2') format('woff2'),
         url('../fonts/OfficinaSerifBlackSCC/officinaserifblackscc.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}