.inner{
	.header{
		padding-top: 0;
		&__left,
		&__right{
			margin-top: 5rem;
		}
		.navmenu li{
			&.active{
				a, span{
					color: $color3 !important;
					&:before{
						display: none;
						// color: $color2;
						// border-bottom-color: $color2;
						// color: $color3;
						// border-bottom-color: transparent;
					}
					&:hover{
						&:before{
							color: $color3;
						}
					}
				}
			}
			a{
				&:before{
					border-bottom-color: $color3;
					color: $color1;
				}
			}
		}
	}

	&-products{
		.header{
			.navmenu li{
				&.active{
					a, span{
						color: $color2 !important;
					}
				}
			}
		}
	}

	.footer{
		padding-top: 6rem;
		padding-bottom: 1.5rem;
		.copyright{
			padding-left: 4.5rem;
		}
		.lang{
			margin-right: 3rem;
		}
	}

	@media (min-width: 1400px){
		.container{
			max-width: 84%;
		}
	}
}


