.input-field{
	position: relative;	
	margin-top: 3.2rem;
	&:before{
		bottom: 15px;
	}	
	// visible label
	label{
		font-size: 1.7rem;
		-moz-user-select: none;
		color: $color1;
		font-weight: 300;
		cursor: text;
		opacity: 1;
		overflow: hidden;
		position: absolute;
		text-overflow: ellipsis;
		top: -9px;
		transform-origin: left top 0;
		transform: translate3d(0, 9px, 0px);
		transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
		white-space: nowrap;
	}	
	.name-field{
		font-size: 2rem;
		opacity: 0;
		color: $color9;
	}

	.helper-field{

	}

	.form-control{
		border: none;
	}

	input.form-control{
		border-bottom: 2px solid $color9;

		&:focus,
		&:active
		{
			border-bottom-color: $color6
		}

	}

}
.textarea-field{
	label{
		top: -px;
	}
}

.is-focused{
	label{
		@include transform(translate3d(0,-16px,0) scale(.8));
	}
	input,
	textarea{
		outline: none;
	}
	.name-field{
		font-family: "Officina Serif Book C";
		opacity: 1;
	}
	.helper-field{
		opacity: 0;
	}
}

.input-field.is-charged:not(.is-focused) > label.name-field{
	@include transform(translate3d(0px, -16px, 0px) scale(0.8));
}

.is-charged{
	label{
		opacity: 0;
	}
	.name-field{
		font-family: "Officina Serif Book C";
		opacity: 1;
	}
	.helper-field{
		// opacity: 0
	}
}