$color_1: #fff; 
$color_2: #0563bf;


/* =mobile-menu
---------------------------*/
.show-sm,
.close-menu{
	display: none;
}
/* =/mobile-menu
---------------------------*/


/* =mobile-menu
---------------------------*/
.close-menu{
	display: none;
}
/* =/mobile-menu
---------------------------*/



@media (max-width: 767px){
	.subnav{
		display: none;
	}
	.navmenu{
		height: 100%;
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
		min-height: 656px;
		overflow: hidden;
		padding-left: 0;
		padding-right: 0;
		position: fixed;
		right: -300px;
		top: 0;
		transition: .3s;
		width: 300px;
		z-index: -1;

		&__inner{
			position: fixed;
			top: 0;
			bottom: 0;
			width: 300px;
			transition: .3s; 
			overflow: auto;
			height: 100%;
		}

		a,
		span{
			font-weight: normal;
		}

	}

	.mainnav{
		margin-left: 0;
		overflow: hidden;
		padding: 7px 0 0;
		li{
			span{
				border-bottom: none !important;
			}
		}
	}	

	.show-sm{
		display: block;
		text-align: left;
	}



	.o-menu{
		.navmenu{
			background: $color_2;
			z-index: 500;
			right: 0;
		}

		.close-menu{
			display: block;
		}

		.mobinfo{
			padding-left: 1rem;
			a{
				color: $color_1;
				display: block;
				margin: 1.8rem;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}

		.show-sm{
			@include font-size(1.5);
			padding-left: 3rem;
			a{
				color: $color2;
				display: block;
				margin: 1.8rem 0;
				text-decoration: none;
				border-bottom: none !important;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}

	// .close-menu{
	// 	@include transition;
	// 	background-color: $color_2;
	// 	background: none;
	// 	border: none;
	// 	cursor: pointer;
	// 	display: block;
	// 	height: 58px;
	// 	padding: 0;
	// 	position: fixed;
	// 	right: 2px;
	// 	text-align: center;
	// 	top: 0;
	// 	width: 58px;
	// 	z-index: 99;
	// 	img{
	// 		transition: transform .2s;			
	// 	}
	// 	&:hover img{
	// 		transform: rotate(90deg);
	// 	}
	// }


	#navbar{
		background-color:$color_2;
		a{
			border-bottom: none !important;
			font-size: 18px;
			font-weight: 400;
			&:hover{
				text-decoration: none;
			}
		}
		.container{
			padding: 0;
		}
		ul.nav{
			background: none;
			display: block;
			font-size: 15px;
			margin-top: 0;
			padding-left: 15px;
			padding-right: 15px;
			text-align: left;

			& > li.active > a{
				text-decoration: underline;				
			}
			li{ // 1 level
				padding: 0;
				border-bottom: 1px solid #fff;

				a, span{
					color: $color_1;
					display: block;
					height: auto;
					line-height: normal;
					padding: 18px 0 18px 10px;
					text-decoration: none;
					text-transform: none;
					&:hover{
						color: #fff;
					}
					&:before{
						display: none !important;
					}
				}
				&.active,
				&:hover{
					a, span{
						background: none;
					}
					border-bottom: 1px solid #fff;
					color: #fff;
				}

				&.active{
					a{
						&:hover{
							color : #fff;
						}
					}
				}
			}
		}

		.nav-tabs>li{
			margin: 0;
		}
	}
}



.panelbase{
	position: fixed;
	min-height: 656px;
	overflow: hidden;
	height: 100%;
	top: 0;
}


.apanel{
	$r: -100%;
	&__inner{
		right: $r;		
		transition: .3s;
	}

	.close-menu{
		display: block;
		height: 28px;
		left: 13px;
		position: absolute;
		top: 12px;
		transform: none;
		width: 28px;
		z-index: 999;
	}

	&.open{
		$r: 0;
		right: $r;
		z-index: 500;
		.apanel__inner{
			right: $r;		
		}
	}
	@extend .panelbase;
	color: $color1;
	letter-spacing: .1em;
	max-width: 100%;
	position: fixed;
	transition: .3s;
	width: 100%;
	z-index: -1;
	a{
		font-weight: 700;
		color: $color1;
		text-decoration: none;
		&:hover{
			color: $color1;
		}
	}

	.top{
		text-align: center;
		margin-bottom: 3rem ;
		position: relative;
		.btn-callback{
			font-family: "Officina Serif Black SCC";
			position: absolute;
			right: 1rem;
			top: .7rem;
		}
	}

	&__inner{
		background: $color3;
		bottom: 0;
		height: 100%;
		overflow: auto;
		position: fixed;
		top: 0;
		width: 100%;
	}

	.logo{
		padding-top: .3rem;
	}

	&__body
	{
		height: 100%;
		overflow: hidden;
		padding-top: 2px;
		position: relative;
		&:before{
			@extend .before;
			right: 0;
			top: 4px;
			width: 261px;
			z-index: 999;
		};
	}

	ul{
		list-style: none;
		// font-size: 2rem;
		text-transform: uppercase;
		font-family: 'Officina Serif Black SCC';
		text-align: center;
		li{
			position: relative;
			margin: 2.4rem 0;

			// border-bottom: 1px solid #80dad4;
			a,
			span{
				color: $color2;
				cursor: pointer;
				display: inline-block;
				line-height: 1;
				// padding: 2rem 0;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
			a{
				display: block;
			}
		}
	}


	.nav{
		font-size: 2.5rem;
		font-weight: 700;
		justify-content: center
	}


	.yourcountry{
		border-top: 1px solid rgba(255, 255, 255, .5);
		padding: 15px;
		color: $color2;
		.title{
			font-family: "Officina Serif Black C";
			font-size: 3rem;
			padding-bottom: 1rem;
		}
		.selectize-control.single .selectize-input:after, .ms-choice div:after{
			filter: brightness(10) !important;
		}

		.selectize-input > input{
			color: $color2;
			@include placeholder(#fff)
		}
		.selectize-input{
			& > .item,
			& > input{
			    font-family: "Officina Serif Black C";
			}
		}
	}
}


@media (min-width: 651px){
	.apanel {
	    display: none!important;
	}
}