.product{
	/* =menu
	---------------------------*/
	&__menu{
		font-size: 6rem;
		font-family: 'Officina Serif Black C';
		text-transform: uppercase;
		a{
			color: $color4;
			text-decoration: underline;
			&:hover{
				color: $color10;
				text-decoration: none;
			}
		}
		ul{
			display: flex;
			justify-content: center;
			li{
				margin: 0 2.7rem;
				&.active{
					a, span{
						color: $color2;
						text-decoration: none;
					}
				}
			}
		}

		&-orange{
			ul{
				li.active{
					a, span{
						color: $color3;
					}					
				}
			}
		}
	}

	&__submenu{
		font-size: 2rem;
		font-family: 'Officina Serif Black C';
		margin-bottom: 3rem;
		text-transform: uppercase;
		ul{
			display: flex;
			justify-content: center;
		}
		li{
			margin: 0 1.5rem;
			&.active{
				color: $color3;
				a, span{
					color: currentColor;
					&:hover{
						color: $color3 !important;
						text-decoration: none;
					}
				}
			}
			a{
				&:hover{
					color: $color1;
				}
			}
		}
	}
	/* =/menu
	---------------------------*/

	/* =text
	---------------------------*/
	&__text{
		color: $color2;
		font-size: 2rem;
		margin-top: 1.5rem;
	}
	/* =/text
	---------------------------*/


	&__rubrics{
		margin: 3rem -7.5rem 0;

		.rubric{
			&__link{
				display: block;
				min-height: 37rem;
				position: relative;

				&:hover{
					color: $color2;
					text-decoration: none;
					.rubric{
						&__pic{
							img{
								transform: scale(1.1)
							}
							&:after{
								opacity: 1;
							}
						}
					}
				}
			}
			&__title{
				font-size: 4.5rem;
				font-family: 'Officina Serif Black C';
				line-height: 1.2;
				text-align: center;
				position: relative;
				z-index: 2;
			}

			&__pic{
				min-height: 45rem;
				position: relative;
				padding-top: 6rem;
				z-index: 2;
				img{
					transition: transform .3s;
					position: relative;
					z-index: 3;
				}
				&:before,
				&:after{
					@extend .before;
					transition: .3s;
					background-size:10px 100% !important;
					border-radius: 50%;
					height: 370px;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					width: 370px;
				}

				&:before{
					background:linear-gradient(to right, $color11 50%, transparent 50%);
				}
				&:after{
					background:linear-gradient(to right, $color4 50%, transparent 50%);
					opacity: 0;
				}
			}
		}
	}
}


.inner{
	&-subproducts{
		.header{
			.navmenu li.active{
				a, span{
					color: $color3 !important;
					&:before{
						display: none;
						border-bottom-color: rgba(0,0,0,0);
					}
				}
			}
		}
		.footer{
			padding: 0;
			margin-top: -58px;
		}
		.main{
			font-size: 2rem;
			img{
				margin: 3rem 0;
				max-width: 100%;
				height: auto;
			}
		}
		h1{
			font-size: 8rem;
			font-family: 'Officina Serif Black C';
			color: $color3;
			line-height: 1.2;
			text-align: center;
			text-transform: uppercase;
		}

		h2.title{
			line-height: 1.1;
			font-family: 'Officina Serif Black C';
			font-size: 4.5rem;
			margin-bottom: 1.5rem;
		}

		.text{
			h2.title{
				color: $color1;				
			}
			&-white{
				color: $color2;
				h2.title{
					color: $color2;
				}
			}
			p{
				margin: 1.5rem 0;
			}

			ul{
				margin-bottom: 3rem;
				li{
					margin: .7rem 0;
					line-height: 1.2;
					position: relative;
					padding-left: 2.7rem;
					&:before{
						@extend .before;
						background: $color2;
						border-radius: 50%;
						height: 13px;
						width: 13px;
						top: 5px;
						left: 0;
					}
				}
			}
		}
		

		.block-1{
			padding: 5.5rem 0 2rem;
			.text{
				padding-left: 7rem;
				padding-bottom: 5rem;
			}
		}

		.block-2{
			margin-bottom: -94px;
			.text{
				padding-right: 4rem;
			}
		}

		.block-3{
			.text{
				padding-left: 7rem;
			}			
		}
		.block-7{
			.text{
				padding-bottom: 13rem;
			}
		}
	}

	&-shoes,
	&-discrotor
	{
		.arc{
			margin-top: -95px;
		}
	}

	&-shoes{
		h1{
			padding-bottom: 13rem;
		}

		.block-4{
			.row{
				margin-top: -4rem;
			}
		}
	}
}


.vcenter-block{
	display: flex;
	flex-direction: column;
	justify-content: center;	
}





/* =NEW PRODUCTS
---------------------------*/
.inner-newproducts{
	.deadline{
		color: $color12;
		font-family: 'Officina Serif Black C';
		font-size: 2rem;
		margin: 1rem 0;
		text-align: center;
	}

	.more{
		cursor: pointer;
		margin-top: 3.8rem;
	}
}

.listproducts{
	grid-template-columns: repeat(5, 30rem);
	grid-row-gap: 3.5rem;
	margin-top: 3rem;
	.product{
		&__item{
			background: $color2;
			box-shadow: 0 0 2rem rgba(0,0,0,.15);
			text-align: center;
		}
		&__link{
			display: block;
			padding: 2rem 4rem;
			border-bottom: 1rem solid $color3;
			&:hover{
				text-decoration: none;
				color: $color1;
				border-bottom-color: $color4;
				.product{
					&__title{
						color: $color4;
						text-decoration: none;
					}
				}
			}
		}
		&__pic{
			min-height: 24rem;
			display: flex;
			justify-content: center;
			align-items: center;
			img{
				max-width: 100%
			}
		}
		&__title{
			font-family: 'Officina Serif Black C';
			font-size: 3rem;
			text-decoration: underline; 
			transition: color .3s;
		}
		&__date{
			font-family: 'Officina Serif Book C';
		}
	}
}
/* =/NEW PRODUCTS
---------------------------*/

/* =TEST REPORTS
---------------------------*/
.inner-testreports{
	h1{
		color: $color3;
		font-size: 10rem;
		line-height: 1.2;
		text-align: center;
		text-transform: uppercase;
		font-family: 'Officina Serif Black C';
	}
}

.listtestreports{
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 3rem;
	margin-bottom: 2rem;

	.report{
		&__item{
			text-align: center;
		}
		&__link{
			&:hover{
				text-decoration: none;
			}
		}
		&__pic{
			min-height: 32rem;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			img{
				max-width: 100%
			}
		}

		&__title{
			font-family: 'Officina Serif Black C';
			font-size: 3rem;
			margin-top: 2rem;
		}
	}
}
/* =/TEST REPORTS
---------------------------*/

