.inner-testreport-article{
	.content .maintext{
		font-size: 1.7rem;
		img{
			max-width: 100%;
			margin-left: 0;
			margin-right: 0;
			display: block;
			&.shadow{
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
				margin: 3rem 0;
			}
			&.inline{
				display: inline-block;
				margin: -6px 0 0 ;
			}
		}
		h2, h3, h4, h5, h6{
			color: $color1 !important;
			&.orange{
				color: $color3 !important;
			}
		}

		.gray{
			color: #303030 !important;
			font-size: 2.5rem;
			font-family: "Officina Serif Book C";

			& + .dot-orange{
				margin-top: -2rem;
				margin-bottom: 3rem;
			}
		}

		.dot-orange{
			position: relative;
			padding-left: 27px;
			&:before{
				@extend .before;
				background-color: $color3;
				border-radius: 50%;
				height: 12px;
				left: 1px;
				top: 5px;
				width: 12px;
			}
		}

		.params{
			font-family: "Officina Serif Black SCC";
			p{
				margin: .5rem 0;
			}
			.value{
				font-family: "Officina Serif Book C";
			}
			.title{
				font-size: 2.5rem;
				color: #303030 !important;
			}
		}

		div.table-responsive{
			margin-bottom: 1rem;


 overflow: auto;
	max-width: 100%;
	// background:
	// 	linear-gradient(to right, white 30%, rgba(255,255,255,0)),
	// 	linear-gradient(to right, rgba(255,255,255,0), white 70%) 0 100%,
	// 	radial-gradient(farthest-side at 0% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)),
	// 	radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100% !important;
	// background-repeat: no-repeat;
	// background-color: white;
	// background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
 //  background-position: 0 0, 100%, 0 0, 100%;
	// background-attachment: local, local, scroll, scroll;


		}
		table{
			width: 100%;
			tr{
				th,
				td{
					padding-left: 1rem;
					padding-right: 1rem;
					line-height: 1.2;
				}
			}
		}

		.box-white{
			background-color: $color2;
			padding: 4rem;
		}

		.box-orange{
			background-color: $color3;
			color: $color2;
			padding: 2rem 2.8rem; 
			h4,
			h5
			{
				color: $color2 !important;
				margin: 1.5rem 0;
			}
			table{
				background-color: transparent;
				td{
					padding-left: 0;
					padding-right: 0;
					padding-top: .5rem;
					padding-bottom: .5rem;
					color: $color2;
					border-bottom-color: #f69565;
					strong{
						color: currentColor;
					}
				}
			}
		}

		.tr-orange{
			& > td{
				border-bottom-color: transparent;
			}
			td{
				color: $color2 !important;
				background-color: $color3;
				strong{
					color: currentColor;
				}
				&.td-top{
					vertical-align: top;
				}
			}
			h4,
			h5
			{
				color: $color2 !important;
				margin: 1.5rem 0;
			}			
		}
		h5 + table,
		h5 + div.table-responsive,
		{
			margin-top: -2rem;
			margin-bottom: 2.5rem;
		}

		.fsize15{
			th, .th, td{
				font-size: 1.5rem;				
			}
		}

		.fsize16{
			th, .th{
				font-size: 1.6rem;
			}
		}

		.subtitle{
			font-size: 2.5rem;
			font-family: "Officina Serif Book C";
			margin-top: -2rem;
			&.row{
				margin-bottom: 2rem;
			}
		}

		.row{
			margin-bottom: 0;
		}

		.warm{
			color: #1b973e;
		}
		.cool{
			color: #d40000;
		}
		.thjoin{
			min-width: 18rem;
			span{
				margin-top: .5rem;
				padding-right: 1.5rem;
			}			
		}
	}
	.offers{
		.pic{
			min-height: 125px
		}
		&__item{
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			img{
				margin-left: auto !important;
				margin-right: auto !important;
			}
		}
	}
}

@media (max-width: 1600px){
	.inner-testreport-article{
		 .content .maintext{
		 	.subtitle{
			 	font-size: 2rem;
			}
			.gray{
				font-size: 2.1rem;
			}
			h5{
				font-size: 2.4rem;
			}
		 }
	}
}


@media (max-width: 1400px){
	.offers{
		grid-template-columns: repeat(3, 1fr)
	}
}

@media (max-width: 991px){
	.inner-testreport-article{
		.offers{
			&__item{
				padding: 1.5rem 0;
				width: 33.3%;
			}
		}
		.content{
			.maintext{
				.subtitle{
					font-size: 1.8rem;
				}
			}
		}
	}
}


@media (max-width: 767px){
	.inner-testreport-article{
		.offers{
			&__item{
				padding: 1.5rem 0;
				width: 50%;
			}
		}
	}
}


@media (max-width: 700px){
	.inner-testreport-article{
		.content .maintext .subtitle{
			font-size: 1.7rem;
			text-align: center;
		}
		
	}
}


@media (max-width: 576px){
	.inner-testreport-article{
		.offers{
			&__item{
				padding: 1.5rem 0;
				width: 100%;
			}
		}
	}
}