.inner-testreport-article{
	.content .maintext{
		font-size: 1.7rem;
		img{
			max-width: 100%
		}
		h2, h3, h4, h5, h6{
			color: $color1 !important;
			&.orange{
				color: $color3 !important;
			}
		}

		div.table-responsive{
			margin-bottom: 1rem;
		}
		table{
			width: 100%;
			tr{
				th,
				td{
					padding-left: 1rem;
					padding-right: 1rem;
				}
			}
		}
		h5 + table,
		h5 + div.table-responsive,
		{
			margin-top: -2rem;
			margin-bottom: 2.5rem;
		}
	}
	.offers{
		.pic{
			min-height: 125px
		}
		&__item{
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
	}
}

@media (max-width: 991px){
	.inner-testreport-article{
		.offers{
			&__item{
				padding: 1.5rem 0;
				width: 33.3%;
			}
		}
	}
}


@media (max-width: 767px){
	.inner-testreport-article{
		.offers{
			&__item{
				padding: 1.5rem 0;
				width: 50%;
			}
		}
	}
}


@media (max-width: 576px){
	.inner-testreport-article{
		.offers{
			&__item{
				padding: 1.5rem 0;
				width: 100%;
			}
		}
	}
}