@media (max-width: 1850px){
	.listproducts
	{
		grid-template-columns: repeat(4, 30rem);
	}
}


@media (max-width: 1750px){
	.homepage{
		.interesting,
		.lastnews{
			.title{
				font-size: 4rem;
			}
		}
	}
}


@media (max-width: 1680px){
	.homepage{
		.main .center{
			.title{
				font-size: 8rem;
			}
			.cifr{
				font-size: 6rem;
			}
		}
		.center-carousel .carousel__inner .el-dots{
			$s: 100%;
			width: $s;
			height: $s;
			background-size: cover;
		}

		
		.about{
			padding-left: 4rem;
			padding-right: 4rem;
			&__title{
				font-size: 2rem;
			}
		}
	}
}


@media (max-width: 1600px){
	.inner{
		.product{
			&__menu{
				font-size: 5rem;
			}
			&__text{
				font-size: 1.8rem;
			}
			&__rubrics{
				img{
					max-width: 100%
				}
				.rubric{
					&__title{
						font-size: 3.8rem;
					}
				}
			}
		}

		&-subproducts{
			h1{
				font-size: 7rem;
			}
			.text{
				h2.title{
					font-size: 4rem;
				}
			}
		}
	}

	.listproducts
	{
		grid-template-columns: repeat(4, 28rem);
	}
}



@media (max-width: 1450px){
	.homepage{
		.main{
			.center{
				margin-top: 18rem;
				margin-right: 0;
				.title{
					font-size: 7rem;
				}
				.cifr{
					font-size: 5.5rem;
				}
			}
			.content{
				padding-left: 4rem;
				padding-right: 4rem;
				.interesting,
				.lastnews{
					margin-top: 6rem;
					.rotate90{
						transform: none;
					}
					flex-direction: column;
					.title{
						font-size: 3.5rem;
					}

					.carousel{
						margin-right: 0;
						margin-left: 0;
					}
					.carousel__pic{
						img{	
							max-width: 150px;
							max-height: 150px;
						}
					}
					.carousel__title{
						font-size: 1.7rem;
					}
				}

				.lastnews{
					.title{
						order: 0;
					}
					.carousel{
						order: 1;
						&__pic{
							&:after{
								$s: 90px;
								width: $s;
								height: $s;
								border-radius: 0 $s 0 0;
								border-top-width: 17px;
								border-right-width: 17px;
								right: 9px;
								top: -16px;
							}
						}
					}
				}
			}
		}

		.center-carousel .carousel__inner .el-dots{
			width: 90%;
			height: 90%;
		}


		
		.about{
			padding-left: 3rem;
			padding-right: 3rem;
			&__title{
				font-size: 1.7rem;
			}
		}
	}
}

@media (max-width: 1400px) {
	.homepage{
		.content{
			.interesting,
			.lastnews{
				.title{
					font-size: 3rem;
				}
				.carousel{
					width: 20rem;
				}
			}

			.lastnews .carousel__pic{
				height: auto;
				margin-bottom: 2rem;
			}
		}
		.about{
			grid-template-columns: 1fr 250px 1fr 240px 180px
		}
	}


	// products
	.inner{
		.product__rubrics{
			margin-left: -3rem;
			margin-right: -3rem;
			.rubric{
				&__pic{
					&:after,
					&:before{
						height: 340px;
						width: 340px;
					}
				}
			}
		}		
	}
}



@media (max-width: 1280px) {
	.homepage{
		.main{
			.content{
				padding-left: 1rem;
				padding-right: 1rem;
			}
			.center{
				margin-top: 24rem;
			}
		}
		.interesting,
		.lastnews{
			.carousel__title{
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}
	}

	@media (max-height: 650px) {
		.homepage .main .center{
			margin-top: -3rem;
			font-size: 1.4rem;
			.title{
				font-size: 4.6rem;
			}
			.cifr{
				font-size: 3.5rem;
			}
		}
	}



	// products
	.inner{
		.product__rubrics{
			margin-left: -1rem;
			margin-right: -1rem;
			.rubric{
				&__pic{
					min-height: 38rem;
					&:after,
					&:before{
						height: 300px;
						width: 300px;
					}
				}
				&__title{
					font-size: 3.5rem;
				}
			}
		}		
	}

}


@media (max-width: 1260px) {
	.homepage .center-carousel .slick-slide .pic{
		height: 765px;
		width: 765px !important;
	}



}


@media (max-width: 1250px) {
	.homepage{
		.main{
			margin-top: 0;
			.center{
				margin-top: 2rem;
			}
			.content{
				padding-left: 2rem;
				padding-right: 2rem;
				.interesting{
					margin-top: 9rem;
				}
				.lastnews{
					.carousel{
						&__title{
							color: $color2;
						}
					}
				}

				.interesting,
				.lastnews{
					.carousel{
						width: 19.2rem;
						&__title{
							padding-left: 1rem;
							padding-right: 1rem;
						}
					}
				}
			}
		}

		.about{
			margin-top: 11.5rem;
		}
		.footer{
			margin-top: 3rem;
		}
	}


	.inner{
		.product{
			&__menu{
				font-size: 4rem;
			}
			&__text{
				font-size: 1.6rem;
			}

			&__rubrics{
				.rubric{
					&__title{
						font-size: 3.2rem;
					}
					&__pic{
						&:after,
						&:before
						{
							height: 250px;
							width: 250px;
						}
					}
				}
			}
		}
		&-subproducts{
			h1{
				font-size: 6rem;
			}
			.main{
				font-size: 1.8rem;
			}
			.text{
				h2.title{
					font-size: 3rem;
				}
			}
		}
	}


	.listproducts
	{
		grid-template-columns: repeat(4, 23rem);
		.product{
			&__title{
				font-size: 2.6rem;
			}
		}
	}


	// test reports
	.inner-testreports,
	.inner-articles
	{
		h1{
			font-size: 8rem;
		}
	}
	.listarticles
	{
		.report{
			&__pic{
				min-height: 30rem;
				img{
					max-width: 80%
				}
			}
			&__title{
				font-size: 2.6rem;
			}
			&__intro{
				font-size: 1.8rem;
			}
		}
	}
}

@media (max-width: 1200px) {

}


@media (max-width: 1180px) {
	.homepage .center-carousel .slick-slide .pic{
		height: 650px;
		width: 650px !important;
	}


	.homepage{
		.interesting,
		.lastnews{
			.title{
				font-size: 2.7rem;
			}
		}

		.main .center{
			font-size: 1.8rem;
			margin-top: -4rem;
			.title{
				font-size: 6rem;
			}
			.cifr{
				font-size: 5rem;
			}
		}

		.about{
			margin-top: 2rem;
			grid-template-columns: repeat(5, 1fr)
		}
	}
}


@media (max-width: 1050px) {
	.homepage{
		.content{		
			.interesting{
				.carousel{
					width: 160px;
					&__pic{
						margin-top: 1rem;
					}
				}
			}
			.lastnews{
				.carousel{
					width: 192px;
					&__title{
						padding-left: 1rem;
						padding-right: 1rem;
					}
				}
			}
			.interesting,
			.lastnews{
				margin-top: 0;
				.carousel{
					&__title{
						color: $color2;
						padding-left: .5rem;
						padding-right: .5rem;
					}

					&__pic{
					}
				}
			}
		}

		.main{
			.center{
				margin-left: 3rem;
				margin-top: 3rem;
			}
		}

		.about__title{
			font-size: 1.5rem;
		}
		.footer{
			margin-top: 1rem;
		}
	}
}


@media (max-width: 991px) {
	.homepage{
		.content{
			.interesting, 
			.lastnews{
				display: none !important;
			}
		}
		.info-md{
			display: block;
		}			
		.main{
			.center{
				margin-left: auto;
				margin-right: auto;
				margin-top: 6rem;
			}
		}
		.about{
			margin-top: 6rem;
			display: flex !important;
			flex-wrap: wrap;
			justify-content: center !important;
			&__cell{
				align-items: center;
				margin-bottom: 1.5rem;
				padding-right: 1rem;
				width: 33%;
				&:nth-child(3){
					padding-right: 0;
				}
				&:nth-child(4),
				&:nth-child(5){
					width: 50%
				}
				&:nth-child(4){
					padding-left: 20rem;
				}
				&:nth-child(5){
					padding-right: 20rem;
				}
			}
		}
	}	

	// products
	.inner{
		.product{
			&__menu{
				font-size: 3.2rem;
				ul{
					li{
						margin: 0 1.8rem;
					}
				}
			}

			&__rubrics{
				.rubric{
					&__title{
						font-size: 2.8rem;
					}
					&__pic{
						min-height: 26rem;
						&:after,
						&:before
						{
							height: 180px;
							width: 180px;
						}
					}
				}
			}
		}

		&-subproducts{
			h1{
				font-size: 5rem;
			}

			.main{
				font-size: 1.7rem;
			}

			.text{
				h2.title{
					font-size: 2.6rem;
				}
			}
			.block-1{
				.text{
					padding-left: 3rem;
				}
			}
		}
	}



	// listproducts
	.listproducts
	{
		display: flex;
		justify-content: space-around !important;
		flex-wrap: wrap;
		.product{
			&__item{
				margin-bottom: 3rem;
				width: 280px;
			}
			&__title{
				font-size: 2.4rem;
			}
			&__link{
				padding: 1rem 1rem;
			}
		}
	}

	// test reports
	.inner-testreports,
	.inner-articles
	{
		h1{
			font-size: 6rem;
		}
	}
	.listarticles
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start !important;
		.report{
			&__item{
				padding-left: 1rem;
				padding-right: 1rem;
				width: 50%;
				img{
					max-width: 90%
				}
			}
			&__title{
				font-size: 2.4rem;	
			}

		}
	}
}


@media (max-width: 950px) {
	.inner{
		.product{
			&__rubrics{
				.row{
					display: block !important;
				}
				&__rubric{
					&__pic{
						img{
							max-width: 30rem;
							display: block;
							margin-left: auto;
							margin-right: auto;
						}
					}
				}
			}
		}
	}
}




@media (max-width: 800px) {
	.homepage{
		.center-carousel{
			display: block;
		}
		.about{
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			margin-top: 3rem;
			&__cell{
				&:nth-child(4){
					padding-left: 15rem;
				}
				&:nth-child(5){
					padding-right: 15rem;
				}			
			}
		}
		.main{
			.center{
				margin-top: 11rem;
			}
		}
	}
}


@media (max-width: 767px) {
	.inner{
		.product__menu{
			font-size: 2.4rem;
			ul{
				li{
					margin: 0 1.1rem;
				}
			}
		}
		.product__rubrics{
			img{
				max-width: 400px;
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
			.rubric__pic{
				&:after,
				&:before{
					$s: 250px;
					height: $s;
					width: $s;
				}
			}
		}

		&-subproducts{
			h1{
				font-size: 4rem;
			}

			.arc{
				background-size: cover !important;
				background-position: center bottom !important;
				min-height: 0;
				padding-bottom: 12rem;
				imt{
					margin-top: 2rem;
				}
			}
			.text{
				padding-right: 0 !important;
				h2.title{
					font-size: 2.2rem;
					text-align: center;
				}
			}
			.block-1{
				padding-top: 2rem;
			}
		}
	}
	.product__submenu{
		font-size: 1.8rem;
	}


	// listproducts
	.listproducts
	{
		justify-content: space-between !important;
		.product{
			&__item{
				margin-bottom: 3rem;
				width: 24rem;
			}
			&__title{
				font-size: 2.2rem;
			}
		}
	}
	.btn-more{
		padding: 2rem 0;
	}

	.listarticles{
		.report__pic{
			min-height: 28rem
		}
	}
}


@media (max-width: 700px) {
	.homepage{
		.center-carousel .slick-slide .pic{
			width: 480px !important;
			height: 480px;
		}
		.main{
			.center{
				font-size: 1.4rem;
				.title{
					font-size: 3.5rem;
				}
				.cifr{
					font-size: 3rem;
				}
			}
		}
	}
}


@media (max-width: 650px) {
	.homepage{
		.about{
			justify-content: flex-start !important;
			&__cell{
				margin-bottom: 2rem;
				padding-left: 0 !important;
				padding-right: 0 !important;
				width: 50%;
			}

			&__icon{
				flex-shrink: 0;
				text-align: center;
				width: 8rem;
				img{
					filter: brightness(10);
				}
			}
			&__title{
				font-size: 1.4rem;
			}
		}
		.info-md{
			background: #242526;
			padding: 3rem 0 0rem;
			margin-top: 1rem;
			margin-bottom: 0;
		}

		.footer{
			background: #242526;
			margin-top: 0;
			padding-top: 3rem;
			text-align: center;
			.d-flex{
				display: block !important;
			}
			.copyright{
				color: #939090;
			}
			.lang{
				margin: 1rem 0;
				justify-content: center;
			}
		}
	}

	.inner{
		.footer{
			padding-top: 1rem;
			.copyright{
				padding-left: 0;
				padding-right: 0;
			}
			.d-flex{
				display: block !important;
				text-align: center;
			}
			.lang{
				margin: 1rem 0;
				justify-content: center;
			}
		}		

		// subproducts
		&-subproducts{
			.footer{
				margin-top: -100px;				
			}
		}

		// newproducts
		&-newproducts .more{
			margin-top: 2rem;
			margin-bottom: 3rem;
		}
	}
}


@media (max-width: 600px) {
	.homepage{
		.interesting,
		.lastnews{
			.carousel{
				width: 20rem;
				margin-left: auto;
				margin-right: auto;
			}
			.title{
				font-size: 2.4rem;
			}			
		}

		.info-md{
			.interesting,
			.lastnews{
				.carousel__title{
					font-size: 1.5rem;
				}
			}
			.lastnews{
				.carousel{
					margin-top: 1rem;
				}
				.carousel__pic{
					img {
					    max-width: 120px;
					    max-height: 120px
					}
					&:after {
						$s: 75px;
					    width: $s;
					    height: $s;
					    border-radius: 0 $s 0 0;
					    border-top-width: 14px;
					    border-right-width: 14px;
					    right: 27px;  
					    top: -15px
					}
				}
			}
		}
	}
}


@media (max-width: 575px) {
	.inner{
		.product__rubrics{
			margin-left: 0;
			margin-right: 0;
			img{
				max-width: 350px;
			}
			.rubric__pic{
				&:after,
				&:before{
					$s: 220px;
					height: $s;
					width: $s;
				}
			}
		}
	}

	// test reports
	.inner-testreports,
	.inner-articles
	{
		h1{
			font-size: 5rem;
		}
	}
	.listarticles
	{
		display: block;
		.report{
			&__item{
				margin: 3rem 0;
				padding-left: 1rem;
				padding-right: 1rem;
				width: 100%;
				img{
					max-width: 90%
				}
			}
			&__pic{
				min-height: 0;
			}
			&__title{
				font-size: 2rem;	
				margin-top: 1.5rem;
			}

			&__intro{
				font-size: 1.6rem;
			}
		}
	}
}


@media (max-width: 550px) {
	.homepage{
		.main{
			.center{
				margin-top: 7rem;
			}
		}
		.center-carousel .slick-slide .pic{
			width: 400px !important;
			height: 400px;
		}
	}

	.inner{
		.product__menu{
			ul{
				display: block;
				text-align: center;
				li{
					margin: 1rem 0;
				}
			}
		}
	}


	// listproducts
	.listproducts
	{
		display: block;
		.product{
			&__item{
				margin-left: auto;
				margin-right: auto;
				width: 24rem;
			}
			&__title{
				font-size: 2.2rem;
			}
		}
	}
}



@media (max-width: 500px) {
	.homepage{
		.about{
			&__cell{
				&:last-child{
					width: 100%;
				}
			}

			&__icon{
				flex-shrink: 0;
				text-align: center;
				width: 8rem;
				img{
					filter: brightness(10);
				}
			}
			&__title{
				font-size: 1.4rem;
			}
		}
	}

	.product__submenu{
		margin-top: 2rem;
		ul{
			display: block;
			text-align: center;
		}
	}

	.inner-subproducts{
		h1{
			font-size: 3.6rem;
		}

		.text{
			padding-left: 0 !important;
			padding-right: 0 !important;
			padding-bottom: 1rem !important;
			text-align: justify;
		}

		.block-7{
			padding-bottom: 10rem;
		}
	}

}


@media (max-width: 450px) {
	.homepage{
		.main .center{
			margin-top: 5rem;
			.nibk{
				display: none;
			}
			.cifr{
				display: none;
			}
		}

		.about{
			margin-top: 5rem;
			display: block !important;
			&__cell{
				width: 100% !important;
			}
		}

		.center-carousel .slick-slide .pic{
			width: 300px !important;
			height: 300px;
		}
		.header__center img{
			width: 120px;
		}

		.info-md{
			.interesting,
			.lastnews{
				.carousel{
					width: 17rem;
				}
			}			
			.interesting .carousel__pic img{
				max-width: 15rem
			}
			.lastnews .carousel__pic{
				left: -10px;
				width: 19.5rem;
				img{
					max-width: 115px;
					max-height: 115px;
				}
			}
		}
	}

	.inner-subproducts{
		.text{
			padding-bottom: 2rem !important;
		}
	}

	.btn-more{
		font-size: 1.8rem;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}
}



@media (max-width: 380px) {
	.homepage{
		.center-carousel .slick-slide .pic{
			width: 255px !important;
			height: 255px;
		}
		.main .center{
			margin-top: 4rem;
			.title{
				font-size: 3rem;
			}
		}

		.about{
			margin-top: 4rem;
			&__icon{
				transform: scale(.75)
			}
		}

		.header__center img{
			width: 90px;
		}

		.info-md{
			.interesting,
			.lastnews{
				.title{
					font-size: 2rem;
				}
				.carousel{
					width: 16rem;
				}
			}			
			.interesting .carousel__pic img{
				max-width: 13rem
			}
			.interesting{
				.title{
					padding-left: 1rem;
					padding-right: 1rem;
				}
			}


			.lastnews{
				.carousel__pic{
					img {
					    max-width: 100px;
					    max-height: 100px
					}
					&:after {
						$s: 60px;
					    width: $s;
					    height: $s;
					    border-radius: 0 $s 0 0;
					    border-top-width: 11px;
					    border-right-width: 11px;
					    right: 37px;  
					    top: -11px
					}
				}
			}
		}
	}	


	.inner{
		.product__rubrics{
			margin-top: 1.5rem;
			img{
				max-width: 280px;
			}
			.rubric{
				&__link{
					min-height: 32rem;
				}
				&__pic{
					&:after,
					&:before{
						$s: 180px;
						height: $s;
						width: $s;
					}
				}
			}
		}

		&-subproducts{
			.footer{
				.copyright{
					padding-left: 1rem;
					padding-right: 1rem;
				}
				margin-top: -120px;				
			}
		}
	}
}