@media (max-width: 1850px){
	.listproducts
	{
		grid-template-columns: repeat(4, 30rem);
	}

	// advantages
	.inner-about{
		.history__carousel{
			margin-left: 5rem;
		}
	}

	.mailus-wholeseller{
		.form{
			$w: 25rem;
			.col{
				width: $w;	
			}	
			.select-wrapper,
			.input-field input.form-control
			{
				width: $w - 2rem;
			}	
		}
	}
}


@media (max-width: 1800px){
	.catalog-page{
		.search-result-table{
			th,
			tr td{
				padding-left: 1rem !important;
			}
			th{
				padding-right: 1rem;
			}
		} 
	}

	// materialreports
	.inner-materialreports{
		.maintext{
			h1{
				font-size: 6rem;
			}
			.subtitle{
				font-size: 2.2rem;
			}
		}
		.groups{
			.title{
				font-size: 3.4rem;
			}
			.group{
				&__title{
					font-size: 2.2rem;
				}
			}
		}
		.reports{
			margin-top: 7rem;
		}
	}
	.characteristics .characteristic__title{
		font-size: 3rem;
	}


	// advantages
	.inner-about{
		.advantages{
			img{
				max-width: 100%
			}
		}
	}


	// advantages
	.inner-about{
		.history{
			.title{
				font-size: 7rem;
			}
			&__year{
				font-size: 7rem;
			}
			&__carousel{
				flex-grow: 1;
			}
		}
		#history-carousel{
			width: 350px;
		}
	}
}


@media (max-width: 1750px){
	.homepage{
		.interesting,
		.lastnews{
			.title{
				font-size: 4rem;
			}
		}
	}

	.catalog-page{
		.mailus{
			.form{
				.col{
					// width: auto;
				}
				input.form-control{
					// width: 32rem;
				}
			}
			.select-wrapper{
				// width: 32rem;
			}
		}
	}


	.mailus,
	// #modal-callback,
	#modal-feedback{
		.form{
			$w: 27.5rem;
			.col{
				width: $w;	
			}	
			.select-wrapper,
			.input-field input.form-control
			{
				width: $w - 2rem;
			}	
		}
	}

	.mailus-wholeseller{
		.form{
			$w: 25rem;
			.col{
				width: $w;	
			}	
			.select-wrapper,
			.input-field input.form-control
			{
				width: $w - 2rem;
			}	
		}
	}

}


@media (max-width: 1680px){
	.homepage{
		.main .center{
			.title{
				font-size: 8rem;
			}
			.cifr{
				font-size: 6rem;
			}
		}
		.center-carousel .carousel__inner .el-dots{
			$s: 100%;
			width: $s;
			height: $s;
			background-size: cover;
		}

		
		.about{
			padding-left: 4rem;
			padding-right: 4rem;
			&__title{
				font-size: 2rem;
			}
		}
	}


	@media (max-height: 730px) {
		.homepage .main .center{
			margin-top: 9rem;
		}
	}

	.catalog-page{
		.mailus{
			// $w: 30rem;
			.form{
				input.form-control{
					// width: $w;
				}
			}
			.select-wrapper{
				// width: $w;
			}
		}
	}

	// news
	.news{
		h1{
			font-size: 8rem;
		}
		&__list{
			grid-template-columns: repeat(3, 1fr);
		}
		&__item{
			padding-left: 1rem;
			padding-right: 1rem;
		}
		.new{
			&__title{
				font-size: 3rem;
			}
			&__intro{
				font-size: 1.8rem;
			}

			&__pic{
				$bs: 3rem;
				padding: $bs;
				width: 340px;
				&:after{
					$s: 170px;
					$bs: $bs;
					width: $s;
					height: $s;
					border-radius: 0 $s 0 0;
					border-top-width: $bs ;
					border-right-width: $bs ;
				}
				.inner{
					width: 280px;
					img{
						max-width: 100%;
					}
				}
			}
		}
	}
}



@media (max-width: 1650px){
	.inner-about{
		.history{
			.row{
				flex-direction: column;
				align-items: center;
			}
			.title{
				font-size: 8rem;
				text-align: center !important;
				br{
					display: none;
				}
			}
			 &__carousel{
			 	margin-left: 0;
			 	margin-top: 5rem;
			 }
			.brake{
				margin-left: 3rem;
			}
		}

		.coverage{
			.listcoverage{
			}
			&__item{
				padding-left: 2rem;
				padding-right: 2rem;
			}
		}
	}


	.mailus,
	// #modal-callback,
	#modal-feedback{
		.form{
			$w: 26rem;
			.col{
				width: $w;	
			}	
			.select-wrapper,
			.input-field input.form-control
			{
				width: $w - 2rem;
			}	
		}
	}

	.mailus-wholeseller{
		.form{
			$w: 23rem;
			.col{
				width: $w;	
			}	
			.select-wrapper,
			.input-field input.form-control
			{
				width: $w - 2rem;
			}	
		}
	}
}



@media (max-width: 1600px){
	.inner{
		.product{
			&__menu{
				font-size: 5rem;
			}
			&__text{
				font-size: 1.8rem;
			}
			&__rubrics{
				img{
					max-width: 100%
				}
				.rubric{
					&__title{
						font-size: 3.8rem;
					}
				}
			}
		}

		&-subproducts{
			h1{
				font-size: 7rem;
			}
			.text{
				h2.title{
					font-size: 4rem;
				}
			}
		}
	}

	.listproducts
	{
		grid-template-columns: repeat(4, 28rem);
	}

	.contactus,
	.mailus{
		h1, .title{
			font-size: 8rem;
		}

		.form .input-field input.form-control,
		.select-wrapper{
			// width: 28rem;
		}
	}
	.contactus{
		.subtitle{
			font-size: 4rem;	
		}
	}
	.mailus{
		margin-top: 7rem;
	}

	.icon-balloon2{
		padding-left: 80px;
		&:before{
			transform: scale(.8)
		}
	}
	.icon-tel2{
		padding-left: 70px;
		&:before{
			transform: scale(.8)
		}
	}
	.icon-mail2{
		padding-left: 90px;
		&:before{
			transform: scale(.8)
		}
	}

	.catalog-page{
		.search-title{
			font-size: 3rem;
		}
		.col-xl-8{
			flex-basis: 100%;
			max-width: 100%;
			margin-left: 0;
		}

		.search-result-table{
			th,
			tr td{
				padding-left: 2rem !important;
			}
			th{
				padding-right: 1rem;
			}
		}
	}

	#modal-feedback .close-modal{
		right: -20px;
	}

	// inner about
	.inner-about{
		.advantages .advantage__item{
			img{
				max-width: 80%
			}
		}
		.main .content{
			h1{
				font-size: 8rem;
			}

			.about__show,
			.subtitle{
				font-size: 5rem;
			}
		}
		.history .title{
			font-size: 7rem;
		}
		 .coverage .title{
		 	font-size: 8rem;
		 }
	}


	.mailus-wholeseller{
		.form{
			$w: 28rem;
			.col{
				width: $w;	
			}	
			.select-wrapper,
			.input-field input.form-control
			{
				width: $w - 2rem;
			}	
		}
	}

}

@media (max-width: 1550px){
	.mailus,
	#--modal-callback,
	#--modal-feedback{
		.form{
			$w: 23rem;
			.col{
				width: $w;	
			}	
			.select-wrapper,
			.input-field input.form-control
			{
				width: $w - 2rem;
			}	
		}
	}
}


@media (max-width: 1500px){
	.homepage{
		.center-carousel{
			.pic{
				width: 626px;
			}
			.slick-slide{
			}
		}
	}
	.contactus{
		.contacts{
			.cell{
				&__mail{
					font-size: 2.6rem;
				}
				&__tel{
					font-size: 3rem;
				}
				&__geo{
					font-size: 2.2rem;
				}
			}
		}
	}
}


@media (max-width: 1450px){
	.homepage{
		.main{
			.center{
				margin-top: 18rem;
				margin-right: 0;
				.title{
					font-size: 7rem;
				}
				.cifr{
					font-size: 5.5rem;
				}
			}
			.content{
				padding-left: 4rem;
				padding-right: 4rem;
				.interesting,
				.lastnews{
					margin-top: 6rem;
					.rotate90{
						transform: none;
					}
					flex-direction: column;
					.title{
						font-size: 3.5rem;
					}

					.carousel{
						margin-right: 0;
						margin-left: 0;
					}
					.carousel__pic{
						img{	
							max-width: 150px;
							max-height: 150px;
						}
					}
					.carousel__title{
						font-size: 1.7rem;
					}
				}

				.lastnews{
					.title{
						order: 0;
					}
					.carousel{
						order: 1;
						&__pic{
							&:after{
								$s: 90px;
								width: $s;
								height: $s;
								border-radius: 0 $s 0 0;
								border-top-width: 17px;
								border-right-width: 17px;
								right: 9px;
								top: -16px;
							}
						}
					}
				}
			}
		}

		.center-carousel .carousel__inner .el-dots{
			width: 90%;
			height: 90%;
		}


		
		.about{
			padding-left: 3rem;
			padding-right: 3rem;
			&__title{
				font-size: 1.7rem;
			}
		}
	}


}

@media (max-width: 1400px) {

}


@media (max-width: 1400px) {
	.homepage{
		.content{
			.interesting,
			.lastnews{
				.title{
					font-size: 3rem;
				}
				.carousel{
					width: 20rem;
				}
			}

			.lastnews .carousel__pic{
				height: auto;
				margin-bottom: 2rem;
			}
		}
		.about{
			grid-template-columns: 1fr 250px 1fr 240px 180px
		}
	}


	// products
	.inner{
		.product__rubrics{
			margin-left: -3rem;
			margin-right: -3rem;
			.rubric{
				&__pic{
					&:after,
					&:before{
						height: 340px;
						width: 340px;
					}
				}
			}
		}		
	}

	.inner-articles,
	.innertestreports{
		h1{
			font-size: 8rem;
		}
	}

	.inner-materialreports{
		.reports{
			.report__pic{
				min-height: 28rem
			}
		}
	}

	.listarticles{
		grid-column-gap: 30px
	}

	.main{
		.maintext{
			h2{
				font-size: 3.8rem;
			}
		}
	}

	#modal-callback{
		.form{
			$w: 25rem;
			.col{
				width: $w;	
			}	
			.select-wrapper,
			.input-field input.form-control
			{
				width: $w - 2rem;
			}	
		}
	}
}



@media (max-width: 1280px) {
	.homepage{
		.main{
			.content{
				padding-left: 1rem;
				padding-right: 1rem;
			}
			.center{
				margin-top: 24rem;
			}
		}
		.interesting,
		.lastnews{
			.carousel__title{
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}
	}

	@media (max-height: 800px) {
		.homepage .main .center{
			margin-top: 14rem;
		}
	}

	@media (max-height: 700px) {
		.homepage .main .center{
			margin-top: 12rem;
		}
	}

	@media (max-height: 640px) {
		.homepage .main .center{
			margin-top: 8rem;
			.title{
				font-size: 6rem;
			}
			.cifr{
				font-size: 5rem;
			}
		}
	}


	@media (max-height: 640px) {
		.homepage .main .center{
			margin-top: 6rem;
			.title{
				font-size: 5rem;
			}
			.cifr{
				font-size: 4rem;
			}
		}
	}

	@media (max-height: 580px) {
		.homepage .main .center{
			margin-top: 5rem;
		}
	}

	@media (max-height: 560px) {
		.homepage .main .center{
			margin-top: 2rem;
			.title{
				font-size: 4rem;
			}
			.cifr{
				font-size: 3rem;
			}
		}
	}

	@media (max-height: 520px) {
		.homepage .main .center{
			margin-top: 0;
		}
	}

	@media (max-height: 450px) {
		.homepage .main .center{
			margin-top: -3rem;
			font-size: 1.4rem;
			.title{
				font-size: 4.6rem;
			}
			.cifr{
				font-size: 3.5rem;
			}
		}

		#modal-feedback{
			.close-modal{
				top: 0;
			}
		}
	}



	// products
	.inner{
		.product__rubrics{
			margin-left: -1rem;
			margin-right: -1rem;
			.rubric{
				&__pic{
					min-height: 38rem;
					padding-top: 9rem;
					&:after,
					&:before{
						height: 300px;
						width: 300px;
					}
				}
				&__title{
					font-size: 3.5rem;
				}
			}
		}		
	}

}


@media (max-width: 1260px) {
	.homepage .center-carousel .slick-slide .pic{
		height: 765px;
		width: 765px !important;
	}
}


@media (max-width: 1250px) {
	.homepage{
		.main{
			margin-top: 0;
			.center{
				margin-top: 2rem;
			}
			.content{
				padding-left: 2rem;
				padding-right: 2rem;
				.interesting{
					margin-top: 9rem;
				}
				.lastnews{
					.carousel{
						&__title{
							color: $color2;
						}
					}
				}

				.interesting,
				.lastnews{
					.carousel{
						width: 19.2rem;
						&__title{
							padding-left: 1rem;
							padding-right: 1rem;
						}
					}
				}
			}
		}

		.about{
			margin-top: 11.5rem;
		}
		.footer{
			margin-top: 3rem;
		}
	}


	.inner{
		.product{
			&__menu{
				font-size: 4rem;
			}
			&__text{
				font-size: 1.6rem;
			}

			&__rubrics{
				.rubric{
					&__title{
						font-size: 3.2rem;
					}
					&__pic{
						&:after,
						&:before
						{
							height: 250px;
							width: 250px;
						}
					}
				}
			}
		}
		&-subproducts{
			h1{
				font-size: 6rem;
			}
			.main{
				font-size: 1.8rem;
			}
			.text{
				h2.title{
					font-size: 3rem;
				}
			}
		}
	}


	.listproducts
	{
		grid-template-columns: repeat(4, 23rem);
		.product{
			&__title{
				font-size: 2.6rem;
			}
		}
	}


	// test reports
	.inner-testreports,
	.inner-articles
	{
		h1{
			font-size: 8rem;
		}
	}
	.listarticles
	{
		.report{
			&__pic{
				min-height: 30rem;
				img{
					max-width: 80%
				}
			}
			&__title{
				font-size: 2.6rem;
			}
			&__intro{
				font-size: 1.8rem;
			}
		}
	}


	// article
	.main{
		.maintext{
			h1{
				font-size: 4.2rem;
			}
			h2{
				font-size: 3.6rem;
			}
			h3{
				font-size: 3.6rem;
			}
			h4{
				font-size: 3rem;
			}
			h6{
				font-size: 2rem;
			}
			.innertext{
				padding-left: 0;
			}
		}
	}

	.side-panel{
		.popular-posts ul{
			width: auto;
			li{
				padding-top: .7rem;
				padding-bottom: .7rem;
			}
		}
		.title{
			font-size: 3.6rem;
		}
	}



	// contacts
	.contactus,
	.mailus{
		h1, .title{
			font-size: 6rem;
		}
	}
	.contactus{
		.subtitle{
			font-size: 3.4rem;
		}
	}

	.icon-balloon2,
	.icon-tel2,
	.icon-mail2{
		margin-top: 1.5rem;
		padding-top: 100px;
		text-align: center;
		justify-content: center;
		&:before{
			left: 50%;
			transform: scale(.8) translateX(-50%);
		}
	}

	.icon-balloon2{
		padding-left: 0;
	}
	.icon-tel2{
		padding-left: 0;
	}
	.icon-mail2{
		padding-left: 0;
	}



	.catalog-page {	
		.tabs{
			padding: 0;
		}
		#brand_tab,
		#class_tab,
		#model_tab
		{
			width: 14rem;
		}

		#year_tab{
			width: 7rem;
		}

		#engine_tab{
			width: 10rem;
		}	

		#body_tab{
			width: 14rem;
		}

		.search-result-table{
			th,
			tr td{
				padding-left: 1rem !important;
			}
			th{
				font-size: 1.5rem;
				padding-right: 1rem;
			}
		}

		// .mailus{
		// 	$w: 26rem;
		// 	.form{
		// 		input.form-control{
		// 			width: $w;
		// 		}
		// 	}
		// 	.select-wrapper{
		// 		width: $w;
		// 	}
		// }
	}

	.mailus-wholeseller{
		.form{
			$w: 20rem;
			.col{
				width: $w;	
			}	
			.select-wrapper,
			.input-field input.form-control
			{
				width: $w - 2rem;
			}	
		}
	}


	.inner .main{
		.detail__characteristics{
			margin-left: 0;
		}
		.detail{
			padding-left: 3rem;
			padding-right: 3rem;
		}
		.detail__body .column{
			padding-right: 2rem;
		}
	}


	// where to buy
	// .location{
	// 	padding-right: 2rem;
	// }


	// news
	.news{
		h1{
			font-size: 6rem; 
		}
		&__list{
			grid-template-columns: repeat(2, 1fr);
		}
		.new{
			&__title{
				font-size: 2.8rem;
			}
			&__intro{
				font-size: 1.6rem;
			}

			&__pic{
				$bs: 30px;
				$w: 300px;
				padding: $bs;
				width: $w;
				&:after{
					$s: $w/2;
					$bs: $bs;
					width: $s;
					height: $s;
					border-radius: 0 $s 0 0;
					border-top-width: $bs ;
					border-right-width: $bs ;
				}
				.inner{ 
					width: $w - $bs - $bs;
				}
			}
		}
	}


	// materialreports
	.inner-materialreports{
		.maintext{
			.subtitle{
				font-size: 2rem;
			}
		}
		.groups{
			.title{
				font-size: 3.2rem;
			}
			.group{
				&__title{
					font-size: 2.2rem;
				}
			}
		}
		.reports{
			margin-top: 6rem;
		}
		.reports{
			.listarticles{
				grid-template-columns: repeat(3, 210px);

			}
			.report{
				&__item{
				}
			}
		}
	}

	.characteristics{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		.characteristic{
			&__title{
				font-size: 2.6rem;
			}
			&__column{
				width: 50%;
			}
		}
	}


	// aboutus
	.inner-about{
		.coverage{
			padding-top: 10rem;
			padding-bottom: 15rem;
		}
		.advantages .advantage__title{
			font-size: 2rem;
		}
	}



}

@media (max-width: 1200px) {
	.inner-about{
		.main{
			.content{
				h1{
					font-size: 7rem;
				}
				.subtitle{
					font-size: 4rem;
				}
				p{
					font-size: 2.2rem;
				}
			}
		}
		.history{
			min-height: 0;
			padding-top: 10rem;
			padding-bottom: 8rem;
			.brake{
				margin-top: 3rem;
				height: 480px;
				width: 480px;
				.violet-dot,
				.active-dot{
					height: 33px;
					left: 18px;
					top: 175px;
					width: 33px;
				}
				.violet-dot{
					&.dot{
						&-0{left: 18px;top: 175px;}
						&-1{left: 16px;top: 261px;}
						&-2{left: 43px;top: 333px;}
						&-3{left: 91px;top: 388px;}
						&-4{left: 156px;top: 423px;}
						&-5{left: 228px;top: 434px;}
						&-6{left: 302px;top: 420px;}
					}
				}
			}
			&__title{
				font-size: 2.8rem;
			}
		}

		.coverage{
			min-height: 0;
			padding-top: 6rem;
		}
	}
}


@media (max-width: 1180px) {
	.homepage .center-carousel .slick-slide .pic{
		height: 650px;
		width: 650px !important;
	}


	.homepage{
		.interesting,
		.lastnews{
			.title{
				font-size: 2.7rem;
			}
		}

		.main .center{
			font-size: 1.8rem;
			margin-top: -4rem;
			.title{
				font-size: 6rem;
			}
			.cifr{
				font-size: 5rem;
			}
		}

		.about{
			margin-top: 2rem;
			grid-template-columns: repeat(5, 1fr)
		}
	}
}


@media (max-width: 1050px) {
	.homepage{
		.content{		
			.interesting{
				.carousel{
					width: 160px;
					&__pic{
						margin-top: 1rem;
					}
				}
			}
			.lastnews{
				.carousel{
					width: 192px;
					&__title{
						padding-left: 1rem;
						padding-right: 1rem;
					}
				}
			}
			.interesting,
			.lastnews{
				margin-top: 0;
				.carousel{
					&__title{
						color: $color2;
						padding-left: .5rem;
						padding-right: .5rem;
					}

					&__pic{
					}
				}
			}
		}

		.main{
			.center{
				margin-left: 1rem;
				margin-top: -10rem;
				@media (max-height: 800px){
					margin-top: -6rem;
				}
			}
		}

		.about__title{
			font-size: 1.5rem;
		}
		.footer{
			margin-top: 1rem;
		}
	}
}


@media (max-width: 1010px) {
	#modal-callback{
		.form{
			$w: 20rem;
			.col{
				width: $w;	
			}	
			.select-wrapper,
			.input-field input.form-control
			{
				width: $w - 2rem;
			}	
		}
	}
}


@media (max-width: 991px) {
	.homepage{
		.content{
			.interesting, 
			.lastnews{
				display: none !important;
			}
		}
		.info-md{
			display: block;
		}			
		.main{
			.center{
				margin-left: auto;
				margin-right: auto;
				margin-top: 10rem;
			}
		}
		.about{
			margin-top: 6rem;
			display: flex !important;
			flex-wrap: wrap;
			justify-content: center !important;
			&__cell{
				align-items: center;
				margin-bottom: 1.5rem;
				padding-right: 1rem;
				width: 33%;
				&:nth-child(3){
					padding-right: 0;
				}
				&:nth-child(4),
				&:nth-child(5){
					width: 50%
				}
				&:nth-child(4){
					padding-left: 20rem;
				}
				&:nth-child(5){
					padding-right: 20rem;
				}
			}
		}
	}

	// products
	.inner{
		.product{
			&__menu{
				font-size: 3.2rem;
				ul{
					li{
						margin: 0 1.8rem;
					}
				}
			}

			&__rubrics{
				.rubric{
					&__title{
						font-size: 2.8rem;
					}
					&__pic{
						min-height: 26rem;
						&:after,
						&:before
						{
							height: 280px;
							width: 280px;
						}

						img{
							display: block;
							margin-left: auto;
							margin-right: auto;
						}
					}
				}
			}
		}

		&-subproducts{
			h1{
				font-size: 5rem;
			}

			.main{
				font-size: 1.7rem;
			}

			.text{
				h2.title{
					font-size: 2.6rem;
				}
			}
			.block-1{
				.text{
					padding-left: 3rem;
				}
			}
		}
	}

	// listproducts
	.listproducts
	{
		display: flex;
		justify-content: space-around !important;
		flex-wrap: wrap;
		.product{
			&__item{
				margin-bottom: 3rem;
				width: 280px;
			}
			&__title{
				font-size: 2.4rem;
			}
			&__link{
				padding: 1rem 1rem;
			}
		}
	}
	// submenu


	.contacts .eq-height{
		min-height: 0
	}

	// test reports
	.inner-testreports,
	.inner-articles
	{
		h1{
			font-size: 6rem;
		}
	}
	.listarticles
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start !important;
		.report{
			&__item{
				padding-left: 1rem;
				padding-right: 1rem;
				width: 50%;
				img{
					max-width: 90%
				}
			}
			&__title{
				font-size: 2.4rem;	
			}
		}
	}



	.main{
		.maintext{
			h1{
				font-size: 4rem;
				margin-bottom: 1rem;
			}
			h2{
				font-size: 3.2rem;
			}
			h3{
				font-size: 2.8rem;
			}
			h4{
				font-size: 2.5rem;
			}
			h6{
				font-size: 1.8rem;
			}

			img{
				display: block;
				margin-left: auto;
				margin-right: auto;
			}

			.innertext{
				margin-top: 2rem;
			}
		}	
	}

	.side-panel .popular-posts ul{
		width: auto;
	}

	// contacts
	.contactus,
	.mailus{
		h1, .title{
			font-size: 5.4rem;
		}
	}
	.contactus{
		.subtitle{
			font-size: 3rem;
		}
	}

	.contactus{
		.contacts{
			.cell{
				&__mail{
					font-size: 2.2rem;
				}
				&__tel{
					font-size: 2.2rem;
				}
				&__geo{
					font-size: 2rem;
				}
			}
		}
	}


	.icon-balloon2,
	.icon-tel2,
	.icon-mail2{
		margin-top: 1.5rem;
		padding-top: 100px;
		text-align: center;
		justify-content: center;
		&:before{
			transform: scale(.75) translateX(-50%)
		}
	}

	// catalog
	.catalog-page {	
		h1{
			font-size: 6rem;
		}
		.menu{
			font-size: 6rem;
		}
		.nav{
			$h: 5rem;
			font-size: 2.5rem;
			border-radius: $h;
			height: $h;
			&-item{
				height: calc(5rem - 4px) ;
			}
			&-link{
				padding-top: .6rem;
				padding-bottom: .6rem;
				&.active{
					border-radius: $h;
				}
			}
		}
		.tab-content{
			.d-flex{
				flex-wrap: wrap;
			}
		}
		#brand_tab,
		#class_tab,
		#model_tab
		{
			margin-bottom: 1rem;
			width: 31%;
		}

		#year_tab{
			width: 26%;
		}

		#engine_tab{
			width: 26%;
		}	

		#body_tab{
			width: 26%;
		}

		.ms-drop{
			width: 100%;
		}

		.search-result-table{
			td{
				padding-left: 1.5rem;
			}
			th{
				white-space: normal;
				padding-right: .5rem;
			}
		}
		.search-result{
			&-top{
				.btn{
					margin-left: auto;
					margin-right: auto;
				}
				.search-title{
					margin-bottom: 1rem;
					text-align: center;
				}
			}
		}
	}
	
	.inner .main .detail__body .column{
		padding-right: 0;
	}

	// where to buy
	// .location{
	// 	&__map{
	// 		margin-top: 3rem;
	// 	}
	// 	&__info{
	// 		display: flex;
	// 		flex-direction: column;
	// 		justify-content: center;
	// 		text-align: center;
	// 		p, .btn{
	// 			margin-left: auto;
	// 			margin-right: auto;
	// 		}
	// 	}
	// 	.map{
	// 		margin-left: auto;
	// 		margin-right: auto;
	// 	}
	// }


	// submenu
	.submenu{
		ul{
			display: block;
			text-align: center;
			li{
				margin: 1rem 0;
			}
		}
	}


	.news{
		.new{
			&__title{
				margin-top: -2rem;
			}
		}		
	}


	.inner .product__rubrics .rubric__pic{
		padding-top: 5rem;
	}


	// materialreports
	.inner-materialreports{
		.maintext{
			h1{
				font-size: 5rem;
			}
			.subtitle{
				font-size: 1.8rem;
			}
		}
		.groups{
			.title{
				font-size: 3.2rem;
			}
			.group{
				&__item{
					margin-top: 3rem;
				}
				&__title{
					font-size: 2.2rem;
				}
			}
		}
		.reports{
			margin-top: 6rem;
			.title{
				font-size: 5rem;
			}
			.listarticles{
				grid-template-columns: repeat(3, 210px);

			}
			.report{
				&__item{
				}
			}
		}
	}

	.characteristics{
		display: block;
		.characteristic{
			&__title{
				font-size: 2.5rem;
			}
			&__column{
				margin-top: 2rem;
				width: 100%;
			}
		}
	}


	// aboutus
	.inner-about{
		.main{
			h1,
			.subtitle{
				text-align: center;
			}
			h1{
				font-size: 6rem;
			}
			.mainpic{
				margin-top: 2rem;
			}
		}

		// history
		.history{
			.title{
				font-size: 6rem;
			}
			&__year{
				font-size: 6rem;
			}
			&__title{
				font-size: 2.5rem;
			}
			&__desc{
				font-size: 2rem;
			}
			.brake{
				margin-top: 5rem;
				height: 350px;
				width: 350px;

				.violet-dot,
				.active-dot{
					left: 12px;
					top: 127px;
					height: 25px;
					width: 25px;
				}

				.violet-dot{
					&.dot{
						&-0{left: 12px;top: 127px;}
						&-1{left: 10px;top: 190px;}
						&-2{left: 30px;top: 243px;}
						&-3{left: 66px;top: 283px;}
						&-4{left: 113px;top: 309px;}
						&-5{left: 166px;top: 317px;}
						&-6{left: 220px;top: 306px;}
					}
				}

			}
		}

		#history-carousel .slick-arrow{
			width: 50px;
			height: 50px;
			&:before{
				width: 30px;
				height: 15px;
				background-size: contain;
			}
		}

		// advantages
		.advantages{
			background: none;
			padding-bottom: 8rem;
			flex-wrap: wrap;
			margin-top: 7rem;
			justify-content: center !important;
			.advantage{
				&__item{
					margin-top: 0 !important;
					margin-bottom: 4rem;
					padding-left: 1.5rem;
					padding-right: 1.5rem;
					img{
						max-width: 60%;
					}
				}
			}
		}

		// coverage
		.coverage{
			.title{
				font-size: 7rem;
			}
		}
	}



	#modal-callback,
	.mailus{
		.form{
			.col{
				width: 100%;
			}
			.select-wrapper{
				width: 100%
			}
			.input-field{
				input.form-control{
					width: 100%;
				}
			}
		}
	}
}


@media (max-width: 950px) {
	.inner{
		.product{
			&__rubrics{
				.row{
					display: block !important;
				}
				&__rubric{
					&__pic{
						img{
							max-width: 30rem;
							display: block;
							margin-left: auto;
							margin-right: auto;
						}
					}
				}
			}
		}
	}

	#modal-feedback{
		padding-left: 1.5rem !important;
		padding-right: 1.5rem;
		.modal-dialog{
			max-width: 100%;
		}
		.close-modal{
			right: 0;
		}
	}
}



@media (max-width: 850px) {
	#modal-feedback{
		.modal-dialog{
			width: 90%;
		}
		.close-modal{
			right: 0;
		}

		.form{
			$w: 23rem;
			.col{
				width: $w;	
			}	
			.select-wrapper,
			.input-field input.form-control
			{
				width: $w - 2rem;
			}	
		}


	}
}


@media (max-width: 830px) {
	#modal-callback2{
		.form{
			$w: 18rem;
			.col{
				width: $w;	
			}	
			.select-wrapper,
			.input-field input.form-control
			{
				width: $w - 2rem;
			}	
		}
	}
}



@media (max-width: 800px) {
	.homepage{
		.center-carousel{
			display: block;
		}
		.about{
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			margin-top: 3rem;
			&__cell{
				&:nth-child(4){
					padding-left: 15rem;
				}
				&:nth-child(5){
					padding-right: 15rem;
				}			
			}
		}
		.main{
			.center{
				margin-top: 11rem;
			}
		}
	}
}


@media (max-width: 767px) {
	.inner{
		.product__menu{
			font-size: 2.4rem;
			ul{
				li{
					margin: 0 1.1rem;
				}
			}
		}
		.product__rubrics{
			img{
				max-width: 400px;
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
			.rubric__pic{
				&:after,
				&:before{
					$s: 250px;
					height: $s;
					width: $s;
				}
			}
		}

		&-subproducts{
			h1{
				font-size: 4rem;
			}

			.arc{
				background-size: cover !important;
				background-position: center bottom !important;
				min-height: 0;
				padding-bottom: 12rem;
				imt{
					margin-top: 2rem;
				}
			}
			.text{
				padding-left: 0 !important;
				padding-right: 0 !important;
				h2.title{
					font-size: 2.2rem;
					text-align: center;
				}
			}
			.block-1{
				padding-top: 2rem;
			}
		}
	}
	.product__submenu{
		font-size: 1.8rem;
	}


	// listproducts
	.listproducts
	{
		justify-content: space-between !important;
		.product{
			&__item{
				margin-bottom: 3rem;
				width: 24rem;
			}
			&__title{
				font-size: 2.2rem;
			}
		}
	}
	.btn-more{
		padding: 2rem 0;
	}

	.listarticles{
		.report__pic{
			min-height: 28rem
		}
	}



	// contacts
	.contactus,
	.mailus{
		h1, .title{
			font-size: 4.8rem;
		}
	}
	.contactus{
		.subtitle{
			font-size: 2.5rem;
		}
	}


	#modal-callback,
	.mailus{
		.bottom{
			text-align: center;
			.btn{
				margin-left: auto;
				margin-right: auto;	
				margin-top: 2rem;
			}
		}
	}

	.contactus{
		margin-top: 2rem;
		.contacts{
			.cell{
				&__mail{
					font-size: 2.2rem;
				}
				&__tel{
					font-size: 2.2rem;
				}
				&__geo{
					font-size: 2rem;
				}
			}
		}
	}


	.catalog-page{
		.nav{
			$h: 4.5rem;
			border-radius: $h;
			font-size: 2.2rem;
			height: $h;
			&-item{
				height: calc(4.5rem - 4px) ;
			}
			&-link{
				padding-top: .6rem;
				padding-bottom: .6rem;
				padding-left: 1.5rem;
				padding-right: 1.5rem;
				&.active{
					border-radius: $h;
				}
			}
		}

		.menu{
			font-size: 4.6rem;
			ul{
				li{
					margin: 0 1.5rem;
				}
			}
		}
		.search-result-table{
			box-shadow: none !important;
			background: none !important;
			border-collapse: separate;
			&-inner{
				display: none;
			}
			th{
				display: none !important;
			}
			tr{
				border-top: 2px solid #9a9d9e;
			    display: block;
			    margin-bottom: 0;
			    position: relative;
			    &:nth-child(even) td{
			    	background: #f5f5f5;
			    }
			    &:first-child{
			    	margin-bottom: 0;
			    }
				&.model-title{
					border-top: none !important;
					td{
						padding-left: 1.5rem !important;
						text-align: left !important;
						margin-top: -3px !important;
						position: relative;
					}
				}
			}
			td{
				background: #fff;
				display: block !important;
				padding-left: 0 !important;
				padding-right: 1.5rem !important;
				text-align: right !important;
				min-height: 47px;
				&:before{
					content: attr(data-title);
					float: left;
					font-weight: 700;
					padding-left: 15px;
				}

				a{
					margin: 0 !important;
					& + a{
						margin-top: .5rem !important;
					}
				}
			}
		}

		#brand_tab,
		#class_tab,
		#model_tab,
		#year_tab,
		#engine_tab,
		#body_tab
		{
			margin-bottom: 3rem;
			width: 100%;
			.ms-drop{
				width: 100%;
			}
		}

		#application-search{
			.btn{
				display: block;
				margin: 1rem auto 2rem;
				text-align: center;
				width: 150px;
			}
		}

		.detail__gallery{
			margin-left: auto;
			margin-right: auto !important;
			.fotorama__nav-wrap{
				margin-top: 2rem;
			}
		}

		.search-result{
			margin-top: 0;
			&-top{
				margin-top: 0;
			}
		}
		.table-grid td {
		    width: 100%!important;
		}
		.btn-order{
			font-size: 1.8rem;
			height: 4.5rem;
		}

		.mailus{
			padding: 3rem 2rem; 
			.subtitle{
				font-size: 1.6rem;
			}
		}
	}

	#modal-feedback{
		padding-left: 15px !important;
		.modal-dialog{
			width: 100%;
		}
		.title{
			font-size: 4.4rem;
		}
		.form{
			.col{
				width: 100%;
			}
			.input-field{
				input.form-control{
					width: 100%	;
				}
			}
			.textarea-field{
			}
			.bottom{
				text-align: center;
				.btn{
					margin-left: auto;
					margin-right: auto;
					margin-top: 2rem;
					font-size: 1.8rem;
					height: 5.5rem;
					border-radius: 5.5rem;
				}
			}
		}
	}

	// where to buy
	.dealers-data{
		.search-title{
			text-align: center !important;
		}
		 .search-result-table td:before{
			padding-left: 0;
		}
	}

	// .location{
	// 	.map,
	// 	iframe{
	// 		width: 100% !important
	// 	}
	// }


	// news
	.news{
		h1{
			font-size: 5rem; 
		}
		&__list{
			display: block;
		}
		&__item{
			margin-bottom: 3rem;
		}
		.new{
			&__title{
				font-size: 2.6rem;
			}
			&__pic{
				$bs: 25px;
				$w: 280px;
				padding: $bs;
				width: $w;
				&:after{
					$s: $w/2;
					$bs: $bs;
					width: $s;
					height: $s;
					border-radius: 0 $s 0 0;
					border-top-width: $bs ;
					border-right-width: $bs ;
				}
				.inner{ 
					width: $w - $bs - $bs;
				}
			}
		}
	}

	.pagination{
		margin-top: 4rem;
		margin-bottom: 4rem;
	}


	.content{
		.maintext{
			table.table-responsive{
				box-shadow: none !important;
				background: none !important;
				border-collapse: separate;
				&-inner{
					display: none;
				}
				th{
					display: none !important;
				}
				tr{
					border-top: 2px solid #9a9d9e;
				    display: block;
				    margin-bottom: 0;
				    position: relative;
				    &:nth-child(even) td{
				    	background: #f5f5f5;
				    }
				    &:first-child{
				    	margin-bottom: 0;
				    }
					&.model-title{
						border-top: none !important;
						td{
							padding-left: 1.5rem !important;
							text-align: left !important;
							margin-top: -3px !important;
							position: relative;
						}
					}
				}
				td{
					background: #fff;
					display: block !important;
					padding-left: 0 !important;
					padding-right: 1.5rem !important;
					text-align: right !important;
					min-height: 47px;
					&:before{
						content: attr(data-title);
						float: left;
						font-weight: 700;
						padding-left: 15px;
					}

					img{
						display: inline;
						margin-left: 0;
						margin-right: 0;
					}

					a{
						margin: 0 !important;
						& + a{
							margin-top: .5rem !important;
						}
					}
				}
			}
		}
	}

	// materialreports
	.inner-materialreports{
		.maintext{
			h1{
				font-size: 4.5rem;
			}
		}
		.groups{
			.title{
				font-size: 3.2rem;
			}
			.group{
				&__item{
					margin-top: 3rem;
				}
				&__title{
					font-size: 2.2rem;
				}
			}
		}
		.reports{
			margin-top: 6rem;
			.title{
				font-size: 4.5rem;
			}
			.listarticles{
				display: block;
			}
			.report{
				&__item{
					margin-top: 4rem;
					width: 100%;
				}
				&__pic{
					min-height: 0;
				}
			}
		}
	}


	// aboutus
	.inner-about{
		.main{
			.content{
				h1{
					font-size: 5rem;
				}
				.subtitle{
					font-size: 3rem;
				}
				.about{
					font-size: 2.2rem;
					&__show{
						font-size: 4rem;
					}
				}
			}
		}

		// history
		.history{
			.title{
				font-size: 5rem;
			}
			&__year{
				font-size: 5rem;
			}
			&__title{
				font-size: 2.3rem;
			}
			&__desc{
				font-size: 1.8rem;
			}
			.brake{
				display: none;
			}
		}


		#history-carousel{
			width: 500px;
			.slick{
				&-arrow{
					position: absolute;
					right: 0;
					left: auto;
					top: auto;
				}
				&-slide{
					padding-right: 80px;
				}
				&-prev{
					top: -20px
				}
				&-next{
					bottom: 40px;
				}
			}
		}

		.coverage{
			.title{
				font-size: 5rem;
			}
			&__item{
				margin-bottom: 4rem;
			}
		}
	}

	.coverage{
		.label__item{
			width: 170px
		}
	}
}


@media (max-width: 700px) {
	.homepage{
		.center-carousel .slick-slide .pic{
			width: 480px !important;
			height: 480px;
		}
		.main{
			.center{
				font-size: 1.4rem;
				.title{
					font-size: 3.5rem;
				}
				.cifr{
					font-size: 3rem;
				}
			}
		}
	}


	.btn-back{
		font-size: 1.8rem;
		height: 3.5rem;
		border-radius: 3.5rem;
		&:before{
			top: 9px;
		}
	}

	.main{
		.maintext{
			h1, h2, h3, h4, h5, h6{
				text-align: center;
			}
			h1{
				margin-top: 2rem; 
				font-size: 3.6rem;
			}
			h2{
				font-size: 2.8rem;
			}
			h3{
				font-size: 2.5rem;
			}
			h4{
				font-size: 2.2rem;
			}
			h6{
				font-size: 1.6rem;
			}
		}
	}
}


@media (max-width: 650px) {
	.homepage{
		.about{
			justify-content: flex-start !important;
			&__cell{
				margin-bottom: 2rem;
				padding-left: 0 !important;
				padding-right: 0 !important;
				width: 50%;
			}

			&__icon{
				flex-shrink: 0;
				text-align: center;
				width: 8rem;
				img{
					filter: brightness(10);
				}
			}
			&__title{
				font-size: 1.4rem;
			}
		}
		.info-md{
			background: #242526;
			margin-bottom: 0;
			margin-top: 1rem;
			padding: 3rem 0 2px;
		}

		.footer{
			background: #242526;
			margin-top: -1px;
			padding-top: 3rem;
			text-align: center;
			.d-flex{
				display: block !important;
			}
			.copyright{
				color: #939090;
			}
			.lang{
				margin: 1rem 0;
				justify-content: center;
			}
		}
	}

	.inner{
		.footer{
			padding-top: 1rem;
			.copyright{
				padding-left: 0;
				padding-right: 0;
			}
			.d-flex{
				display: block !important;
				text-align: center;
			}
			.lang{
				margin: 1rem 0;
				justify-content: center;
			}
		}		

		// subproducts
		&-subproducts{
			.footer{
				margin-top: -100px;				
			}
		}

		// newproducts
		&-newproducts .more{
			margin-top: 2rem;
			margin-bottom: 3rem;
		}
	}

	.inner-about{
		.listcoverage {
			img, picture{
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.catalog-page .search-result-top{
		.search-title{
			font-size: 2.8rem;
		}
		.btn{
			display: block;
			font-size: 1.5rem;
			height: 4.5rem;
			width: 70%;
		}
	}

	.news .new__pic .inner:after{
		display: none;
	}


	// aboutus
	.inner-about .footer{
		margin-top: -12rem;
	}
}


@media (max-width: 600px) {
	.homepage{
		.interesting,
		.lastnews{
			.carousel{
				width: 20rem;
				margin-left: auto;
				margin-right: auto;
			}
			.title{
				font-size: 2.4rem;
			}			
		}

		.info-md{
			.interesting,
			.lastnews{
				.carousel__title{
					font-size: 1.5rem;
				}
			}
			.lastnews{
				.carousel{
					margin-top: 1rem;
				}
				.carousel__pic{
					img {
					    max-width: 120px;
					    max-height: 120px
					}
					&:after {
						$s: 75px;
					    width: $s;
					    height: $s;
					    border-radius: 0 $s 0 0;
					    border-top-width: 14px;
					    border-right-width: 14px;
					    right: 27px;  
					    top: -15px
					}
				}
			}
		}
	}

	// materialreports
	.inner-materialreports{
		.maintext{
			figure img{
				margin-left: auto;
				margin-right: auto;
			}
			figcaption{
				margin-top: 1rem;
			}
		}
		.groups{
			margin-top: 2rem;
		}
	}

	.lastnews #news-carousel{
		.container{
			padding-left: 0;
			padding-right: 0;
		}
	}
}


@media (max-width: 575px) {
	.inner{
		.product__rubrics{
			margin-left: 0;
			margin-right: 0;
			img{
				max-width: 350px;
			}
			.rubric__pic{
				&:after,
				&:before{
					$s: 220px;
					height: $s;
					width: $s;
				}
			}
		}
	}

	// test reports
	.inner-testreports,
	.inner-articles
	{
		h1{
			font-size: 5rem;
			margin-top: 2rem;
		}
	}
	.listarticles
	{
		display: block;
		.report{
			&__item{
				margin: 3rem 0;
				padding-left: 1rem;
				padding-right: 1rem;
				width: 100%;
				img{
					max-width: 90%
				}
			}
			&__pic{
				min-height: 0;
			}
			&__title{
				font-size: 2rem;	
				margin-top: 1.5rem;
			}

			&__intro{
				font-size: 1.6rem;
			}
		}
	}


	.main{
		.maintext{
			text-align: justify;
			font-size: 1.8rem;
		}
	}

	.catalog-page{
		.tab-pane{
			.input-field{
				margin-right: 2rem;
			}
		}
		.tab-content{
			margin-top: 2rem;
			.btn{
			    display: block;
			    margin: 2rem auto 2rem;
			    text-align: center;
			    width: 150px;
			    &-more{
			    	margin-top: 0;
			    }
			}
			.location__info{
				.btn{
					display: flex;
				}
			}
		}


		.mailus{
			.input-field{
				margin-right: 0;
			}
		}
	}
	#modal-feedback{
		.close-modal{
			top: 10px;
		}
		.modal-dialog{
			margin-left: auto;
			margin-right: auto;
		}
		.title{
			margin-top: 2.5rem;
			line-height: 1.2;
			font-size: 3.6rem;
		}
	}


	// aboutus
	.inner-about{
		.main{
			// font-size: 2rem;
			.content{
				h1{
					font-size: 4.6rem;
				}
				.subtitle{
					font-size: 2.8rem;
				}
				.about{
					font-size: 2rem;
					&__show{
						font-size: 3.8rem;
					}
					.col{
						margin-bottom: 1.5rem;
					}
				}
				p{
					font-size: 2rem;
				}
			}
		}

		.coverage{
			.label__item{
				width: 170px;
			}
		}
	}
}


@media (max-width: 550px) {
	.homepage{
		.main{
			.center{
				margin-top: 7rem;
			}
		}
		.center-carousel .slick-slide .pic{
			width: 400px !important;
			height: 400px;
		}
	}

	.inner{
		.product__menu{
			ul{
				display: block;
				text-align: center;
				li{
					margin: 1rem 0;
				}
			}
		}
	}


	// listproducts
	.listproducts
	{
		display: block;
		.product{
			&__item{
				margin-left: auto;
				margin-right: auto;
				width: 24rem;
			}
			&__title{
				font-size: 2.2rem;
			}
		}
	}


	.catalog-page{
		h1{
			font-size: 5rem;
			margin-top: 2rem;
		}
		.nav{
			$h: 4rem;
			font-size: 2rem;
			border-radius: $h;
			height: $h;
			&-item{
				height: calc(4rem - 4px) ;
			}
			&-link{
				padding: .4rem 3rem .5rem;
				&.active{
					border-radius: $h;
				}
			}
		}
		.tabs{
			margin-top: 3rem;
		}
		.menu{
			margin-top: 2rem;
		}
		.nav{
			$h: 4rem;
			border-radius: $h;
			border: none;
			display: block;
			font-size: 2rem;
			height: auto;
			text-align: center;
			&-item{
				margin: .5rem 0;
			}
			&-link{
				display: block;
				padding: .4rem 3.5rem .5rem;
				text-align: center;
				width: 25rem;
			}
		}

		.dealers-data{
			margin-bottom: 2rem;
			.btn-more{
				padding-top: 1.5rem;
				padding-bottom: 1.5rem;
			}
		}

		.tab-content{
			margin-top: 0;
		}
	}

	// .location{
	// 	font-size: 1.8rem;
	// 	padding: 2.5rem 1.5rem;
	// 	margin-top: 0;
	// 	.logocompany{
	// 		margin-bottom: 0;
	// 		img{
	// 			max-width: 100%
	// 		}
	// 	}
	// 	p{
	// 		margin: 2rem auto;
	// 	}
	// 	.address,
	// 	.tel{
	// 		padding-left: 0;
	// 		padding-top: 55px;
	// 		text-align: center;
	// 		&:before{
	// 			margin-left: -10px;
	// 			left: 50%;
	// 			top: 0;
	// 		}
	// 	}
	// }


	// aboutus
	.inner-about{
		#history-carousel{
			margin-left: auto;
			margin-right: auto;
			width: 360px;
		}
		.advantages{
			padding-bottom: 3rem;
		}
	}
}



@media (max-width: 500px) {
	.homepage{
		.about{
			&__cell{
				&:last-child{
					width: 100%;
				}
			}

			&__icon{
				flex-shrink: 0;
				text-align: center;
				width: 8rem;
				img{
					filter: brightness(10);
				}
			}
			&__title{
				font-size: 1.4rem;
			}
		}
	}

	.product__submenu{
		margin-top: 2rem;
		ul{
			display: block;
			text-align: center;
		}
	}

	.inner-subproducts{
		h1{
			font-size: 3.6rem;
		}

		.text{
			padding-left: 0 !important;
			padding-right: 0 !important;
			padding-bottom: 1rem !important;
			text-align: justify;
		}

		.block-7{
			padding-bottom: 10rem;
		}
	}


	.main{
		.maintext{
			h1{
				font-size: 3.4rem;
			}
			h2{
				font-size: 2.6rem;
			}
			h3{
				font-size: 2.2rem;
			}
			h4{
				font-size: 2rem;
			}
			h6{
				font-size: 1.5rem;
			}
		}
	}
}


@media (max-width: 480px) {
	.inner-products{
		.main{
			.container{
				display: flex;
				flex-direction: column;
			}
		}
	}

	.inner{
		.product__menu{
			margin-top: 1rem;
		}

		.product__rubrics{
			margin-top: 0;
			.rubric{
				&__pic{
					min-height: 0
				}
				&__link{
					min-height: 0;
					margin-bottom: 0;
				}
			}
		}
	}


	.product{
		&__text{
			order: 2;
			padding-top: 2rem;
			padding-bottom: 5rem;
		}
		&__rubrics{
			order: 1;
		}		
	}
}

@media (max-width: 450px) {
	.homepage{
		.main .center{
			margin-top: 5rem;
			.nibk{
				display: none;
			}
			.cifr{
				display: none;
			}
		}

		.about{
			margin-top: 5rem;
			display: block !important;
			&__cell{
				width: 100% !important;
			}
		}

		.center-carousel .slick-slide .pic{
			width: 300px !important;
			height: 300px;
		}
		.header__center img{
			width: 120px;
		}

		.info-md{
			.interesting,
			.lastnews{
				.carousel{
					width: 17rem;
				}
			}			
			.interesting .carousel__pic img{
				max-width: 15rem
			}
			.lastnews .carousel__pic{
				left: -10px;
				width: 19.5rem;
				img{
					max-width: 115px;
					max-height: 115px;
				}
			}
		}
	}

	.inner-subproducts{
		.text{
			padding-bottom: 2rem !important;
		}
	}

	.btn-more{
		font-size: 1.8rem;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}


	.contactus{
		h1,
		.title{
			font-size: 4.5rem;
		}
		.subtitle{
			font-size: 2.2rem;
		}
		.contacts{
			margin-top: 1rem;
			.cell{
				&__mail{
					font-size: 2rem;
				}
				&__tel{
					font-size: 2rem;
				}
				&__geo{
					font-size: 2rem;
				}
			}
		}
	}

	.mailus{
		margin-bottom: 4rem;
	}

	.catalog-page .mailus{
		padding-bottom: 1rem;
	}


	// aboutus
	.inner-about{
		.main{
			// font-size: 2rem;
			.content{
				text-align: justify;
				h1{
					font-size: 4.2rem;
				}
				.subtitle{
					font-size: 2.6rem;
				}
				.about{
					font-size: 2rem;
				}
			}
		}

		// history
		.history{
			padding-top: 5rem;
			padding-bottom: 5rem;
			.title{
				font-size: 4rem;
			}
			&__year{
				font-size: 4.6rem;
			}
			&__title{
				font-size: 2.1rem;
			}
		}

		// coverage
		.coverage{
			.title{
				font-size: 4rem;
			}
		}
	}
}



@media (max-width: 420px) {

}


@media (max-width: 380px) {
	.homepage{
		.center-carousel .slick-slide .pic{
			width: 255px !important;
			height: 255px;
		}
		.main .center{
			margin-top: 4rem;
			.title{
				font-size: 3rem;
			}
		}

		.about{
			margin-top: 4rem;
			&__icon{
				transform: scale(.75)
			}
		}

		.header__center img{
			width: 90px;
		}

		.info-md{
			.interesting,
			.lastnews{
				.title{
					font-size: 2rem;
				}
				.carousel{
					width: 16rem;
				}
			}			
			.interesting .carousel__pic img{
				max-width: 13rem
			}
			.interesting{
				.title{
					padding-left: 1rem;
					padding-right: 1rem;
				}
			}


			.lastnews{
				.carousel__pic{
					img {
					    max-width: 100px;
					    max-height: 100px
					}
					&:after {
						$s: 60px;
					    width: $s;
					    height: $s;
					    border-radius: 0 $s 0 0;
					    border-top-width: 11px;
					    border-right-width: 11px;
					    right: 37px;  
					    top: -11px
					}
				}
			}
		}
	}	


	.inner{
		.product__rubrics{
			margin-top: 1.5rem;
			img{
				max-width: 280px;
			}
			.rubric{
				&__link{
					min-height: 32rem;
				}
				&__pic{
					&:after,
					&:before{
						$s: 180px;
						height: $s;
						width: $s;
					}
				}
			}
		}

		&-subproducts{
			.footer{
				.copyright{
					padding-left: 1rem;
					padding-right: 1rem;
				}
				margin-top: -120px;				
			}
		}
	}

	.catalog-page{
		h1{
			font-size: 4rem;
		}
		.search-result-top .btn{
			width: 85%;
		}
	}


	// news
	.news{
		h1{
			font-size: 5rem; 
		}
		.new{
			&__title{
				font-size: 2.6rem;
				line-height: 1.2;
				margin-top: 0;
			}
			&__intro{
				font-size: 1.6rem;
			}

			&__pic{
				$bs: 20px;
				$w: 250px;
				padding: $bs;
				width: $w;
				&:after{
					$s: $w/2;
					$bs: $bs;
					width: $s;
					height: $s;
					border-radius: 0 $s 0 0;
					border-top-width: $bs ;
					border-right-width: $bs ;
				}
				.inner{ 
					width: $w - $bs - $bs;
				}
			}
		}
	}


	// aboutus
	.inner-about #history-carousel{
		width: 270px;
		.slick-slide{
			padding-right: 60px;
		}
	}

}



@media (max-width: 320px) {
	.inner-materialreports .reports{
		.report{
			&__title{
				font-size: 2.2rem;
				margin-top: 2rem;
			}
			&__item{
				.btn{
					font-size: 1.8rem;
					height: 3.6rem;
				}
			}
		}
	}

	.catalog-page .search-result-top .btn{
		width: 100%;
	}
}
