@media (max-width: 1750px){
	.homepage{
		.interesting,
		.lastnews{
			.title{
				font-size: 4rem;
			}
		}
	}
}


@media (max-width: 1680px){
	.homepage{
		.main .center{
			.title{
				font-size: 8rem;
			}
			.cifr{
				font-size: 6rem;
			}
		}
		.center-carousel .carousel__inner .el-dots{
			$s: 100%;
			width: $s;
			height: $s;
			background-size: cover;
		}

		
		.about{
			padding-left: 4rem;
			padding-right: 4rem;
			&__title{
				font-size: 2rem;
			}
		}
	}
}


@media (max-width: 1450px){
	.homepage{
		.main{
			.center{
				margin-top: 18rem;
				margin-right: 0;
				.title{
					font-size: 7rem;
				}
				.cifr{
					font-size: 5.5rem;
				}
			}
			.content{
				padding-left: 4rem;
				padding-right: 4rem;
			}
		}

		.center-carousel .carousel__inner .el-dots{
			width: 90%;
			height: 90%;
		}

		.interesting,
		.lastnews{
			margin-top: 6rem;
			.rotate90{
				transform: none;
			}
			flex-direction: column;
			.title{
				font-size: 3.5rem;
			}

			.carousel{
				margin-right: 0;
				margin-left: 0;
			}
			.carousel__pic{
				img{	
					max-width: 150px;
					max-height: 150px;
				}
			}
			.carousel__title{
				font-size: 1.7rem;
			}
		}

		.lastnews{
			.title{
				order: 0;
			}
			.carousel{
				order: 1;
				&__pic{
					&:after{
						$s: 90px;
						width: $s;
						height: $s;
						border-radius: 0 $s 0 0;
						border-top-width: 17px;
						border-right-width: 17px;
						right: 9px;
						top: -16px;
					}
				}
			}
		}
		
		.about{
			padding-left: 3rem;
			padding-right: 3rem;
			&__title{
				font-size: 1.7rem;
			}
		}
	}
}

@media (max-width: 1400px) {
	.homepage{
		.interesting,
		.lastnews{
			.title{
				font-size: 3rem;
			}
			.carousel{
				width: 20rem;
			}
		}

		.lastnews .carousel__pic{
			height: auto;
			margin-bottom: 2rem;
		}
		.about{
			grid-template-columns: 1fr 250px 1fr 240px 180px
		}
	}

}



@media (max-width: 1280px) {
	.homepage .main .content{
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.homepage{
		.interesting,
		.lastnews{
			.carousel__title{
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}
	}

	@media (max-height: 650px) {
		.homepage .main .center{
			margin-top: -3rem;
			font-size: 1.4rem;
			.title{
				font-size: 4.6rem;
			}
			.cifr{
				font-size: 3.5rem;
			}
		}
	}

}


@media (max-width: 1260px) {
	.homepage .center-carousel .slick-slide .pic{
		height: 765px;
		width: 765px !important;
	}

}


@media (max-width: 1250px) {
	.homepage{
		.main{
			margin-top: 0;
			.center{
				margin-top: 2rem;
			}
			.content{
				padding-left: 2rem;
				padding-right: 2rem;
			}
		}
		.interesting{
			margin-top: 9rem;
		}
		.lastnews{
			.carousel{
				&__title{
					color: $color2;
				}
			}
		}

		.interesting,
		.lastnews{
			.carousel{
				width: 19.2rem;
				&__title{
					padding-left: 1rem;
					padding-right: 1rem;
				}
			}
		}

		.about{
			margin-top: 11.5rem;
		}
		.footer{
			margin-top: 3rem;
		}
	}

}


@media (max-width: 1180px) {
	.homepage .center-carousel .slick-slide .pic{
		height: 650px;
		width: 650px !important;
	}


	.homepage{
		.interesting,
		.lastnews{
			.title{
				font-size: 2.7rem;
			}
		}

		.main .center{
			font-size: 1.8rem;
			margin-top: -4rem;
			.title{
				font-size: 6rem;
			}
			.cifr{
				font-size: 5rem;
			}
		}

		.about{
			margin-top: 2rem;
			grid-template-columns: repeat(5, 1fr)
		}
	}
}


@media (max-width: 1050px) {
	.homepage{
		.interesting{
			.carousel{
				width: 160px;
				&__pic{
					margin-top: 1rem;
				}
			}
		}
		.lastnews{
			.carousel{
				width: 192px;
				&__title{
					padding-left: 1rem;
					padding-right: 1rem;
				}
			}
		}
		.interesting,
		.lastnews{
			margin-top: 0;
			.title{
				// font-size: 2.7rem;
			}
			.carousel{
				&__title{
					color: $color2;
					padding-left: .5rem;
					padding-right: .5rem;
				}

				&__pic{
				}
			}
		}

		.main{
			.center{
				margin-left: 3rem;
				margin-top: 3rem;
			}
		}

		.about__title{
			font-size: 1.5rem;
		}
		.footer{
			margin-top: 1rem;
		}
	}
}