@media (max-width: 1750px){
	.header{
		padding-right: 5rem;
		.navmenu{
			font-size: 1.8rem;
		}
		&__left
		{
			width: 530px;
		}

		&__right
		{
			width: 530px;
		}
	}
}

@media (max-width: 1680px){
	.header{
		padding-left: 4rem;
		padding-right: 4rem;
		&__center img{
			width: 350px;
		}
		.navmenu{
			li{
				margin-right: 4rem;
			}
		}
		&__left,
		&__right
		{
			width: 500px;
		}
	}

	.extra-toggle-wrapper{
		margin-right: 3.5rem;
	}

	.btn-callback{
		width: 135px;
	}

	.footer{
		.copyright{
			font-size: 1.4rem;
		}
	}
}


@media (max-width: 1500px){
	// modalmenu
	.modal-menu{
		.menu{
			.title,
			dt{
				font-size: 2.8rem;
			}
		}
		.contacts .title{
			font-size: 5rem;
		}
		.contacts .cell{
			&__geo{
				font-size: 2.2rem;
			}
			&__tel{
				font-size: 3.2rem;
			}
			&__mail{
				font-size: 3rem;
			}

		}
	}
	
	// header
	.header{
		padding-left: 3rem;
		padding-right: 3rem;
		.navmenu{
			li{
				margin-right: 2.5rem;
			}
		}
		&__left,
		&__right
		{
			width: 450px;
		}
	}
}


@media (max-width: 1450px){
	.header{
		&__center img{
			width: 270px;
		}
	}

	.modal-menu{
		.container{
			.col-join{
				flex-grow: 1;
				.d-flex{
					display: block !important;
				}
				.title{
					margin-bottom: 1rem;
				}
			}
		}
	}
}

@media (max-width: 1400px){
	.header{
		.nav{
			display: none !important;
		}
	}


	.extra-toggle-wrapper{
		cursor: pointer;
	}
	.extra-toggle-inner{
		display: flex;
		align-items: center;
		font-size: 1.8rem;
		.extra-title{
			display: block;
			border-bottom: 3px solid $color3;
		}
	}
	.extra-toggle{
		margin-right: 1rem;
	}


	#modal-callback{
		.container{
			max-width: 1000px
		}
		.title{
			font-size: 7rem;
		}
		.subtitle{
			font-size: 1.6rem;
		}
		.form .input-field input.form-control,
		.select-wrapper{
			width: 28rem;
		}
	}
}

@media (max-width: 1250px){
	.header{
		&__left,
		&__right
		{
			width: 15rem;
		}

		&__right{
			margin-top: 4.4rem;
		}
	}


	// modalmenu
	.modal-menu{
		.menu{
			.title,
			dt{
				font-size: 2.6rem;				
			}
		}
		.contacts .title{
			font-size: 4.8rem;
		}
		.contacts .cell{
			&:before{
			}
			&__geo{
				font-size: 2rem;
			}
			&__tel{
				font-size: 3rem;
			}
			&__mail{
				font-size: 2.8rem;
			}
		}

		.icon-balloon{
			padding-left: 70px;
			&:before{
				transform: scale(0.7)				
			}
		}
		.icon-tel{
			padding-left: 60px;
			&:before{
				transform: scale(0.7)				
			}
		}
		.icon-mail{
			padding-left: 85px;
			&:before{
				transform: scale(0.7)				
			}
		}
	}

	.btn-callback{
		font-size: 1.4rem;
		height: 4rem;
		margin-right: -2rem;
		width: 11rem;
	}

	.footer{
		.copyright{
			padding-left: 2rem;
		}
		.lang{
			margin-right: 0;
		}
	}
}

@media (max-width: 1180px){
	.header{
		&__left{
			margin-top: 2rem;
		}
		&__right{
			margin-top: 2.5rem;
		}
	}
	.header__center img{
		width: 230px;
	}


	// modalmenu
	.modal-menu{
		.close-modal{
			left: 3rem;
			top: 3rem;
		}

		.menu{
			padding-top: 9rem;
			.title,
			dt{
				font-size: 2.6rem;
				margin-bottom: 1rem;
			}
			dl{
				padding-right: 5rem;
			}
			dd{
				margin: 2rem 0;
			}
		}
		.contacts .title{
			font-size: 4.5rem;
		}
		.contacts .cell{
			&:before{
			}
			&__geo{
				font-size: 2rem;
			}
			&__tel{
				font-size: 2.5rem;
			}
			&__mail{
				font-size: 2.5rem;
			}
		}

		.icon-balloon{
			padding-left: 70px;
			&:before{
				transform: scale(0.55)				
			}
		}
		.icon-tel{
			padding-left: 60px;
			&:before{
				transform: scale(0.55)				
			}
		}
		.icon-mail{
			padding-left: 85px;
			&:before{
				transform: scale(0.55)				
			}
		}
	}
}


@media (max-width: 1100px){
	.modal-menu .container{
		max-width: 95%
	}
}

@media (max-width: 1024px){
	#modal-callback{
		.container{
			max-width: 90%
		}
		.title{
			font-size: 6rem;
		}
		.subtitle{
			font-size: 1.5rem;
		}
		.form .input-field input.form-control,
		.select-wrapper{
			width: 28rem;
		}
	}

	.modal-menu .menu {
		.title,
		dt{
			font-size: 2.4rem;
		}
		dl{
			padding-right: 2rem;
		}
	}
}




@media (max-width: 991px){
	.main-grid{
		display: block !important;
	}
	.btn-callback{
		margin-right: 0;
	}

	#modal-callback{
		.container{
			max-width: 95%
		}
		.title{
			font-size: 5.6rem;
		}
		.form .input-field input.form-control,
		.select-wrapper{
			width: 25rem;
		}
	}
}


@media (max-width: 900px){
	// modalmenu
	.modal-menu{
		.close-modal{
			left: 3rem;
			top: 3rem;
		}

		.menu{
			padding-top: 9rem;
			.title,
			dt{
				font-size: 2.4rem;
				margin-bottom: 1rem;
			}
			dl{
				padding-right: 0;
			}
		}
		.contacts .title{
			font-size: 3.8rem;
		}
		.contacts .cell{
			&__geo{
				font-size: 1.8rem;
			}
			&__tel{
				font-size: 2.2rem;
			}
			&__mail{
				font-size: 2.2rem;
			}
		}

		.icon-balloon{
			padding-left: 60px;
			&:before{
				transform: scale(0.4)				
			}
		}
		.icon-tel{
			padding-left: 50px;
			&:before{
				transform: scale(0.4)				
			}
		}
		.icon-mail{
			padding-left: 70px;
			&:before{
				transform: scale(0.4)				
			}
		}
	}


	.footer{
		padding-bottom: 1rem;
	}
}



@media (max-width: 870px){
	.modal-menu{
		.contacts{
			display: none;
		}
		.col{
			flex-grow: 0;
			flex-basis: auto;
			width: 50%;
		}
	}

	#modal-callback{
		.form .input-field input.form-control,
		.select-wrapper{
			width: 22rem;
		}
	}
}


@media (max-width: 800px){
	.header{
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.footer{
		.copyright{
			padding-left: 1rem;
			padding-right: 1rem;			
		}
	}
}


@media (max-width: 767px){
	.header{
		&__left,
		&__right
		{
			width: 110px;
		}
	}

	#modal-callback{
		.row{
			display: block !important;
		}
		.form{
			.col{
				width: 100%;
			}
		}
		.form .input-field input.form-control,
		.select-wrapper{
			width: 100%;
		}
	}
}



@media (max-width: 700px){
	.header{
		&__center{
			img{
				width: 150px;
			}
		}
		&__left{
			margin-top: .8rem;
		}
		&__right{
			margin-top: 1rem;
		}
	}
}



@media (max-width: 650px){
	.apanel .top .btn-callback{

	}
	.modal-menu{
		display: none !important;
	}
}

@media (max-width: 550px){
	.header__center img{
		width: 140px;
	}
	.header__left{
		margin-top: 0;
	}
	.header__right{
		margin-top: 0;
	}
}


@media (max-width: 500px) {
	.extra-toggle-inner{
		font-size: 1.6rem;
	}

	#modal-callback .bottom{
		display: block !important;
		text-align: center;
		.btn-submit{
			margin: 2rem auto 0;
		}
	}

}

@media (max-width: 450px) {
	.extra-toggle-inner .extra-title{
		display: none;
	}

	.btn-callback{
		font-size: 1.3rem;
	}


	#modal-callback{
		.title{
			font-size: 5rem;
		}
	}
}


@media (max-width: 380px) {
	#modal-callback{
		.container{
			max-width: 100%
		}
		.title{
			font-size: 4.6rem;
		}
		.bottom .btn-submit{
			height: 5rem;
			font-size: 1.6rem;
		}
		.selectize-dropdown, .selectize-input, .selectize-input input{
			font-size: 1.6rem;
		}
	}

	.input-field{
		label{
			font-size: 1.5rem;
		}
		.name-field{
			font-size: 1.8rem;
		}
	}
}



@media (max-width: 350px) {
	.header{
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.apanel__body{
		padding-left: .8rem;
		padding-right: .8rem;
	}
	.btn-callback{
		width: 9rem;
	}
}