// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-arrow-back-name: 'icon-arrow-back';
$icon-arrow-back-x: 263px;
$icon-arrow-back-y: 90px;
$icon-arrow-back-offset-x: -263px;
$icon-arrow-back-offset-y: -90px;
$icon-arrow-back-width: 21px;
$icon-arrow-back-height: 13px;
$icon-arrow-back-total-width: 284px;
$icon-arrow-back-total-height: 179px;
$icon-arrow-back-image: '../images/sprite.png';
$icon-arrow-back: (263px, 90px, -263px, -90px, 21px, 13px, 284px, 179px, '../images/sprite.png', 'icon-arrow-back', );
$icon-arrow-name: 'icon-arrow';
$icon-arrow-x: 263px;
$icon-arrow-y: 103px;
$icon-arrow-offset-x: -263px;
$icon-arrow-offset-y: -103px;
$icon-arrow-width: 11px;
$icon-arrow-height: 20px;
$icon-arrow-total-width: 284px;
$icon-arrow-total-height: 179px;
$icon-arrow-image: '../images/sprite.png';
$icon-arrow: (263px, 103px, -263px, -103px, 11px, 20px, 284px, 179px, '../images/sprite.png', 'icon-arrow', );
$icon-balloon-name: 'icon-balloon';
$icon-balloon-x: 0px;
$icon-balloon-y: 90px;
$icon-balloon-offset-x: 0px;
$icon-balloon-offset-y: -90px;
$icon-balloon-width: 67px;
$icon-balloon-height: 89px;
$icon-balloon-total-width: 284px;
$icon-balloon-total-height: 179px;
$icon-balloon-image: '../images/sprite.png';
$icon-balloon: (0px, 90px, 0px, -90px, 67px, 89px, 284px, 179px, '../images/sprite.png', 'icon-balloon', );
$icon-balloon2-name: 'icon-balloon2';
$icon-balloon2-x: 67px;
$icon-balloon2-y: 90px;
$icon-balloon2-offset-x: -67px;
$icon-balloon2-offset-y: -90px;
$icon-balloon2-width: 67px;
$icon-balloon2-height: 89px;
$icon-balloon2-total-width: 284px;
$icon-balloon2-total-height: 179px;
$icon-balloon2-image: '../images/sprite.png';
$icon-balloon2: (67px, 90px, -67px, -90px, 67px, 89px, 284px, 179px, '../images/sprite.png', 'icon-balloon2', );
$icon-balloon3-name: 'icon-balloon3';
$icon-balloon3-x: 232px;
$icon-balloon3-y: 90px;
$icon-balloon3-offset-x: -232px;
$icon-balloon3-offset-y: -90px;
$icon-balloon3-width: 31px;
$icon-balloon3-height: 41px;
$icon-balloon3-total-width: 284px;
$icon-balloon3-total-height: 179px;
$icon-balloon3-image: '../images/sprite.png';
$icon-balloon3: (232px, 90px, -232px, -90px, 31px, 41px, 284px, 179px, '../images/sprite.png', 'icon-balloon3', );
$icon-mail-name: 'icon-mail';
$icon-mail-x: 0px;
$icon-mail-y: 0px;
$icon-mail-offset-x: 0px;
$icon-mail-offset-y: 0px;
$icon-mail-width: 90px;
$icon-mail-height: 90px;
$icon-mail-total-width: 284px;
$icon-mail-total-height: 179px;
$icon-mail-image: '../images/sprite.png';
$icon-mail: (0px, 0px, 0px, 0px, 90px, 90px, 284px, 179px, '../images/sprite.png', 'icon-mail', );
$icon-mail2-name: 'icon-mail2';
$icon-mail2-x: 90px;
$icon-mail2-y: 0px;
$icon-mail2-offset-x: -90px;
$icon-mail2-offset-y: 0px;
$icon-mail2-width: 90px;
$icon-mail2-height: 90px;
$icon-mail2-total-width: 284px;
$icon-mail2-total-height: 179px;
$icon-mail2-image: '../images/sprite.png';
$icon-mail2: (90px, 0px, -90px, 0px, 90px, 90px, 284px, 179px, '../images/sprite.png', 'icon-mail2', );
$icon-tel-name: 'icon-tel';
$icon-tel-x: 180px;
$icon-tel-y: 0px;
$icon-tel-offset-x: -180px;
$icon-tel-offset-y: 0px;
$icon-tel-width: 52px;
$icon-tel-height: 90px;
$icon-tel-total-width: 284px;
$icon-tel-total-height: 179px;
$icon-tel-image: '../images/sprite.png';
$icon-tel: (180px, 0px, -180px, 0px, 52px, 90px, 284px, 179px, '../images/sprite.png', 'icon-tel', );
$icon-tel2-name: 'icon-tel2';
$icon-tel2-x: 232px;
$icon-tel2-y: 0px;
$icon-tel2-offset-x: -232px;
$icon-tel2-offset-y: 0px;
$icon-tel2-width: 52px;
$icon-tel2-height: 90px;
$icon-tel2-total-width: 284px;
$icon-tel2-total-height: 179px;
$icon-tel2-image: '../images/sprite.png';
$icon-tel2: (232px, 0px, -232px, 0px, 52px, 90px, 284px, 179px, '../images/sprite.png', 'icon-tel2', );
$icon-tel3-name: 'icon-tel3';
$icon-tel3-x: 232px;
$icon-tel3-y: 131px;
$icon-tel3-offset-x: -232px;
$icon-tel3-offset-y: -131px;
$icon-tel3-width: 23px;
$icon-tel3-height: 41px;
$icon-tel3-total-width: 284px;
$icon-tel3-total-height: 179px;
$icon-tel3-image: '../images/sprite.png';
$icon-tel3: (232px, 131px, -232px, -131px, 23px, 41px, 284px, 179px, '../images/sprite.png', 'icon-tel3', );
$spritesheet-width: 284px;
$spritesheet-height: 179px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-arrow-back, $icon-arrow, $icon-balloon, $icon-balloon2, $icon-balloon3, $icon-mail, $icon-mail2, $icon-tel, $icon-tel2, $icon-tel3, );
$spritesheet: (284px, 179px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
