.inner-catalog{
	#service-center{
		padding-top: 4.5rem;
		h2{
			font-size: 5rem;
			font-family: 'Officina Serif Black C';
			line-height: 1.1;
			color: #000;
			margin-bottom: 1.4rem;
		}
		.text{
			font-size: 2rem;
			margin-left: 6rem;
		}

		.about{
			grid-column-gap: 10px;
			grid-row-gap: 35px;
			margin-top: 4rem;
			&__cell{
				display: flex;
				align-items: center;
			}
			&__title{
				color: $color1;
				font-family: "Officina Serif Black C";
				font-size: 1.8rem;
				line-height: 1.4;
				padding-left: 17px;
				text-transform: uppercase;
			}

			&__icon{
				flex-shrink: 0;
				text-align: center;
				width: 78px;
			}
		}
	}

	#map{
		box-shadow: 0 0 40px rgba(38,46,56,.3);
		height: 870px;
		margin-top: 4.5rem;
	}

	.map{
		position: relative;
		.service-centers{
			left: 50%;
			position: absolute;
			top: 60px;
			z-index: 100;
			margin-left: -42%;
		}
	}
}

.gm-style-iw-d{
	.title,
	.tel
	{
		font-size: 15px;
		font-family: 'Officina Serif Black C';
	}

	.desc{
		 font-family: 'Officina Serif Book C';
		 margin: 10px 0;
	}
}


.gm-style{
	.gm-style-iw{
		padding: 0;
	}
	.gm-style-iw-t::after{
		background: none;
		box-shadow: none;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #000;
		transform: translate(-50%, 0%);
	}
	.gm-style-iw-c{
		background: none;
		border-radius: 0;
		color: $color2;
		padding-right: 14px !important;
		padding-top: 14px !important;
		box-shadow: none;
		button{
			background-color: #f26722 !important;
			border-radius: 50%;
			height: 31px !important;
			opacity: 1 !important;
			right: 0 !important;
			top: 0 !important;
			width: 31px !important;
			transition: background-color .3s;
			img{
				filter: invert(1);
				transform: scale(1.6);
			}
			&:hover{
				background-color: #ff1521 !important
			}
		}
	}
	.gm-style-iw-d{
		background: rgba(0,0,0,.9);
		overflow: hidden !important;
		padding: 17px;
	}
}


.service-centers{
	background-color: $color2;
	box-shadow: 0 0 20px rgba(0,0,0,.15);
	width: 640px;
	padding-bottom: 30px;
	.title{
		color: $color1;
		font-family: 'Officina Serif Black C';
		font-size: 4rem;
		padding: 3rem;
		text-transform: uppercase;
	}

	.service{
		&__list{
			border-top: 3px solid $color3;
		}
		&__item{
			a{
				background-image: url(../images/service-balloon.png);
				background-position: 30px 28px;
				background-repeat: no-repeat;
				color: #373737;
				display: block;
				font-size: 1.7rem;
				min-height: 110px;
				padding: 25px 30px 25px 75px;
				&:hover{
					background-color: #e8dfee;
					text-decoration: none;
					.service__title{
						color: $color3;
					}
				}
			}
		}
		&__title{
			color: $color4;
			font-size: 1.7rem;
			font-family: 'Officina Serif Black SCC';
		}
		&__desc{

		}
		&__tel{
			font-family: 'Officina Serif Black SCC';
		}
	}
}