/**
 * @author zhixin wen <wenzhixin2010@gmail.com>
 */

.ms-parent {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 100% !important;
}

.ms-choice {
	border: none;
	border-bottom: 2px solid #7f8184;
    display: block;
    width: 100%;
    height: 36px;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
    line-height: 36px;
    color: #000;
    text-decoration: none;
    background: none;
    // background-color: #fff;
    font-size: 1.4rem;
    div:after{
    	top: 13px;
    }
}

.ms-choice.disabled {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.ms-choice > span {
    position: absolute;
    top: 0;
    left: 0;
    right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.ms-choice > span.placeholder {
	color: #3a3a3a;
    font-family: "Officina Serif Black C";
    font-size: 1.5rem;
}

.ms-choice > div {
    position: absolute;
    top: 2px;
    right: 0;
    width: 20px;
    height: 25px;
}

.ms-choice > div.open {
}

.ms-drop {
    // width: 100%;
    width: 140%;
    overflow: hidden;
    display: none;
    margin-top: -1px;
    padding: 0;
    position: absolute;
    z-index: 1000;
    background: #fff;
    color: #000;
    border: 1px solid #aaa;
}

#year_tab{
	.ms-drop {
	    width: 150px;
    }
}

#body_tab{
	.ms-drop {
	    width: 200px;
    }
}

.ms-drop.bottom {
    top: 100%;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.ms-drop.top {
    bottom: 100%;
    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.ms-search {
    display: inline-block;
    margin: 0;
    min-height: 26px;
    padding: 12px 15px 0;
    position: relative;
    white-space: nowrap;
    width: 100%;
    z-index: 10000;
}

.ms-search input {
	background: url(../images/icons/search.png) no-repeat right 10px center;
    width: 100%;
    height: auto !important;
    min-height: 35px;
    padding: 0 20px 0 5px;
    margin: 0;
    outline: 0;
    font-family: sans-serif;
    font-size: 14px;
    border: 1px solid #d4d4d4;

}

.ms-search, .ms-search input {
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.ms-drop ul {
	color: #2f2f2f;
	font-size: 14px;
    overflow: auto;
    margin: 0;
    padding: 5px 0 30px;
}

.ms-drop ul > li {
    list-style: none;
    display: list-item;
    background-image: none;
    position: static;
    padding-left: 16px !important;
    padding-right: 16px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    min-height: 35px;
    &:nth-last-child(2){
    	// padding-bottom: 28px;
    }
    &:before{
    	display: none !important;
    }
}

.ms-drop ul > li .disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
}

.ms-drop ul > li.multiple {
    display: block;
    float: left;
}

.ms-drop ul > li.group {
    clear: both;
}

.ms-drop ul > li.multiple label {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ms-drop ul > li label {
    font-weight: normal;
    display: block;
    white-space: nowrap;
}

.ms-drop ul > li label.optgroup {
    font-weight: bold;
}

.ms-drop input[type="checkbox"] {
    vertical-align: middle;
}

.ms-drop .ms-no-results {
    display: none;
}

.checkbox-tab .ms-drop{
	li label input {
	  position: absolute;
	  z-index: -1;
	  opacity: 0;
	  margin: 10px 0 0 20px;
	}
	span {
	  position: relative;
	  padding: 0 0 0 32px;
	  cursor: pointer;
	}
	span:before {
	  content: '';
	  position: absolute;
	  top: -3px;
	  left: 0;
	  width: 22px;
	  height: 22px;
	  // background: #fff;
	  border: 2px solid #7f8184;
	}
	li label input:checked + span:before {
		$color: #ed1d24;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAJCAYAAADU6McMAAAAzklEQVQokZXRu05CQRSF4c+DHTRWROxseABuj2CrlGpvZ2IBgYaKxkDBA9DitfBW2lv5HDR2VhaakEnmmJMTILDK2bP/rH9m5/vicIBTnOPT5mljgl6COap4QXMLwC0O8BUgU3RQwesGoBPMkESD9yQOxqEWynhCbQ3gBoUIuBdpaa4zjd7QWqJwFwHh/R7TQZK7GBp1sY9nNOL5cUYhAB6yS4V+fS9f+QM/cfEIxfgLocFZtkGa3RXuQe0PIwzxuwqwDpKqlXCFy7zCf7AAbK4ka4fqFc0AAAAASUVORK5CYII=');
		background-repeat: no-repeat;
		background-position: center;
		background-color: $color;
		border-color: $color;
	}

	li:hover{
		span:before {
			border-color: #fff !important
		}
	}
}


.radio-tab .ms-drop{
	li label input {
	  position: absolute;
	  z-index: -1;
	  opacity: 0;
	  margin: 10px 0 0 20px;
	}
	span {
		display: block;
	  position: relative;
	  padding: 0 0 0 32px;
	  cursor: pointer;
	}
	span:before {
	  content: '';
	  position: absolute;
	  top: -2px;
	  left: 0;
	  width: 22px;
	  height: 22px;
	  // background: #fff;
	  border: 2px solid #7f8184;
	  border-radius: 50%;
	  transition: .3s
	}
	span:after {
		background: #fff;
		content: "";
		position: absolute;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		left: 9px;
		top: 7px;
	}


	li label input:checked + span:before {
		$color: #ed1d24;
		background-color: $color;
		border-color: $color;
	}

	li:hover{
		span:before {
			border-color: #fff !important
		}
	}
}



.ms-drop{
	li{
		transition: .3s;
		label{
			padding: 7px 0;
		}
		&:hover{
			color: #fff;
			background: #ed1d24;
		}

	}
}

.checkbox-tab .ms-drop{
}

